<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center">
<div style="background:black;">
  <img src="http://iwillnottakethisgracefully.com/images/dk_logo.png">
<h1 style="color:white; font-size:3em;font-family: 'EB Garamond', serif;">Welcome!</h1>

<p style="color:white;font-size:2em; font-family: 'EB Garamond', serif;">Hi <%= @user.name %>,</p>

<p style="color:white;font-size:2em;font-family: 'EB Garamond', serif;">
You've entered the world of Daniel Kraken!  Click on the link below to activate your account:
</p>
<p style="color:white;font-size:2em;font-family: 'EB Garamond', serif;">
<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
                                                  </p>
<p style="color:white;font-size:2em;font-family: 'EB Garamond', serif;">
  You can track the fantastic progress of Kraken Inc.'s newest offering, Hypersea, in the
  attached document:
</p>
<p style="color:white;font-size:2em;font-family: 'EB Garamond', serif;">
  <%= link_to 'Hypersea Quarterly Report', root_url+'dk_hypersea_quarterly_report.pdf', { target: '_blank' } %>
</p>
</div>
</td>
</tr>
</table>
