<%= form_for(@user= current_user) do |f| %>
  <%= render 'shared/error_messages', object: @user %>

<%= f.label :moontype,"Choose Your Moon" %>
<div class="fontcolor-black">
  <select name="user[moontype]">
    <option value="plainwhite">A plain white moon.</option>
    <option value="hugeblue">A huge blue moon.</option>
    <option value="redcrescent">A red crescent.</option>
    <option value="goldcrescent">A gold crescent.</option>
    <option value="greenskull">A neon green skull.</option>
    <option value="discoball">A disco ball? Sure why not?</option>
    <option value="predatormoon">The laser tracker from the Predator movie franchise? Fine.</option>

  </select>
</div>

  <%= f.submit yield(:button_text), class: "btn-lg gold3 white3" %>
<% end %>
