<%= form_for(@user= current_user) do |f| %>
  <%= render 'shared/error_messages', object: @user %>

<%= f.label :charactershipname,"Select Your Ship" %>
<div class="fontcolor-black">
  <select name="user[charactershipname]">
    <option value="shipnamemutiny">H.M.S. Mutiny</option>
    <option value="shipnamemanspreader">H.M.S. Manspreader</option>
    <option value="shipnameunrequited">H.M.S. Unrequited</option>
    <option value="shipnameunderestimator">H.M.S. Underestimator</option>
    <option value="shipnamehangovercure">H.M.S. Hangover Cure</option>
    <option value="shipnameafhv">H.M.S. America’s Funniest Home Videos</option>
  </select>
</div>

  <%= f.submit yield(:button_text), class: "btn-lg gold3 white3" %>
<% end %>
