<%= form_for(@user= current_user) do |f| %>
  <%= render 'shared/error_messages', object: @user %>

<%= f.label :moontype,"Choose Your Moon" %>
<div class="fontcolor-black">
  <select name="user[moontype]">
    <option value="plainwhite">A plain white moon.</option>
    <option value="hugeblue">A huge blue moon.</option>
    <option value="redcrescent">A red crescent.</option>
    <option value="goldcrescent">A gold crescent.</option>
    <option value="greenskull">A neon green skull.</option>
    <option value="discoball">A disco ball? Sure why not?</option>
    <option value="predatormoon">The laser tracker from the Predator movie franchise? Fine.</option>
    <option value="watermelon">A delicious watermelon? Great idea.</option>
    <option value="cookie">A cookie? OK I think you're just hungry and it's affecting your judgement.</option>
    <option value="balloon">An adorable balloon animal.</option>
    <option value="twomoons">Two moons? Krakenesque in its greed.</option>
    <option value="eyeball">An eyeball? Aha! The moon gazes also.</option>


  </select>
</div>

  <%= f.submit yield(:button_text), class: "btn-lg gold3 white3" %>
<% end %>
