
<main class="page-content">
    <article class="post">
<!--
      <h1>Article Layout with Varying Content Width Using CSS Grid</h1>
-->
<p>
"<span class="royal-blue_intro">W</span>ow you are really reaching here,” said Fawn, looking out across the water. She was weaving a friendship bracelet for <%= @user.characterfirstname %>, its one end tacked to the ship’s bannister while the other strands of the bracelet were taped to her hooves.
</p>
<p>
“What?” asked Comet, who was using her machete to halve a KFC Double Down and split the sandwich with <%= @user.characterfirstname %>.
</p>
<p>
“Nothing,” said Fawn, who returned to the bracelet, perturbed.
</p>
</div>
</main>
</article>
</body>
