
<main class="page-content">
    <article class="post">
<!--
      <h1>Article Layout with Varying Content Width Using CSS Grid</h1>
-->
<p>
<span class="royal-blue_intro">T</span>heir trip aboard the H.M.S. Mutiny went about as well as could be expected. The captain was understandably skittish.
</p>
<p>
“Why do they call it the Mutiny?” Fawn asked the captain over dinner in his cabin. Everyone was drinking Hard Martyr, instead of Captain Cannon-fodder, who had abstained in favor of alertness.
</p>
<p>
“Umm, well,” said the Captain, a sweet, graying, sleep deprived man who was reticent to offer anything but the blandest of opinions. “It hasn’t happened just yet.”
</p>
<p>
“Daniel christened it himself with the first bottle of Confidante,” said the captain.
</p>
<p>
“His first hard liquor,” said Comet, who liked a bit of buzz when she sharpened. She was on the daggers now, her sword lay oiled and unattended in her bunk, it having been sharpened in the morning. “That must have been over fifty years ago.”
</p>
<p>
“Yes, it was my first post as captain, and the first ship that made it past the bay and into the hypersea proper,” said the captain, picking dirt from his fingernails with a silver cocktail fork, part of a set that had been given to him by a grateful bosun retiring after decades of service.
</p>
<p>
“This was the first ship?” asked Fawn.
</p>
<p>
“There were a few failed experiments before Daniel got it right,” said the captain. “But yes, this is the first one to make it on the waves.”
</p>
<p>
“And it was christened as the H.M.S. Mutiny?” continued Fawn. “It didn’t acquire that name by an event, or by reputation?” Fawn stopped to dab at her lips with her pocketsquare, because all the other napkins had been nervously shredded between the fingers of a thoroughly bugged out Captain Cannonfodder, who sat in a steel backed chair scooted all the way back to the wall, his eyes constantly flitting towards the door.
</p>
<p>
“Daniel thought it’d be best to name the first successful ship after the cardinal sin of sailing,” said the captain. “As a reminder not to do it? As a ward against it? I’m not sure. Either way, it fucked me up royally.”
</p>
<p>
“Has the crew ever…you know?” asked <%= @user.characterfirstname %>.
</p>
<p>
“To my knowledge they love me deeply,” replied the captain, matter-of-factly.
</p>
<p>
And it was true. Since they had boarded Fawn had seen nothing but the greatest respect and deference shown to the captain. The second mate’s wife had waved to the ship from the dock with their babe in arms, a giggling John Fodder, named after the captain currently in fear for his life.
</p>
<p>
“I can guard your door tonight,” offered Comet, "If you’d like to catch up on your sleep.”
</p>
<p>
“That would be lovely,” said the captain.
</p>
</div>
</main>
</article>
</body>
