
<main class="page-content">
    <article class="post">
<!--
      <h1>Article Layout with Varying Content Width Using CSS Grid</h1>
-->
<p>
<span class="royal-blue_intro">L</span>ife aboard the H.M.S. Manspreader was becoming untenable. As light and dainty as she was, Fawn could barely navigate between the crew standing on deck so that she could vomit over the side of the ship. Each man stood with his chest puffed out, arms akimbo, their pantaloons billowing around balls that would have had to have been Guinness record big to necessitate the width of their stances. Comet ended up bowling them over like tenpins to let Fawn through.
</p>
<p>
You could barely get at your grog during dinner, sailors were practically pushing <%= @user.characterfirstname %> from the bench and onto the floor. They grew uproariously drunk on their daily rations of Hypersea, and sometimes came to blows over whose thighs were more muscular, whose sack billowed the most in their shorts. Fawn went to the captain personally to complain, but Captain Furor merely grunted and went back to his pipe. The blue smoke billowed out of the porthole night and day.
</p>
<p>
The nights were worse, each sailor’s legs hung over the sides of their hammocks and into each other’s faces, making puns about who had the lowest hanging hammocks even in their sleep.
</p>
<p>
Comet did fine though. Nobody dared fuck with Comet.
</p>
</div>
</main>
</article>
</body>
