
<main class="page-content">
    <article class="post">
<!--
      <h1>Article Layout with Varying Content Width Using CSS Grid</h1>
-->
<p>
"<span class="royal-blue_intro">W</span>elcome aboard,” said Captain Hangdog, fingering a locket of his own thick red hair. “Do you mind if I borrow one of your ribbons?” he asked Comet. “Mine seems to have worn through.”
</p>
<p>
“Oh. Sure,” said Comet, reaching back to undo a ribbon from one of the ten holding her ponytail in place.
</p>
<p>
“No gifts,” muttered Fawn, gently placing a hoof over Comet’s mailed fist. “No trinkets of any kind. If you give them a gift they’ll never let it go. They will become infatuated with you.”
</p>
<p>
“Business as usual,” said Comet, handing him the ribbon. It was a bright green, like the hypersea at dawn. Her ribbons reflected each shade of the sea throughout the day. It started at green where the hair hung to her butt. The middle stretch was an increasingly dark ring of blues that ended in a final strip of black silk cinching the hair to her head.
</p>
<p>
All through the trip, sailors were making any excuse to ask for a ribbon, and Comet would oblige them every time. If, while doing pushups in full plate on the poop deck under the rising sun, she were brought a ladle of fresh water from below deck, she would, mid-push-up, reach back with one hand to untie a ribbon and hand it up to him. At night, one besotted sailor spied a comet and wished upon it for a ribbon of his own, and was rewarded with a satin snippet of midnight blue. On the last day, as Fawn’s party was lowered into a lifeboat so that they could make their way to shore, a jet black ribbon fluttered from Comet’s hand and landed on the center of the deck, but by then the crew were smitten to a man and couldn’t be bothered to retrieve it. The would never fight for the black ribbon. It belonged to them all.
</p>
<p>
Comet’s hair was now flowing free behind her. She had grabbed both oars and was rowing with incredible strokes that sometimes lifted the boat out of the water. The entire crew stood pining for her on the deck, aching to be the stray strands of hair that collected against the sweat of her brow. When Comet got out to drag the boat ashore, Fawn turned to see the H.M.S. Unrequited foundering in the waves. They had scuttled themselves rather then risk another voyage across the hypersea without Comet. They all stood on the deck as it sank, their pockets loaded with grapeshot. When the mainmast had disappeared in the waves, Comet reached into her pack and brought out a velvet sack of spare ribbons and began to tie her hair up again.
</p>
</div>
</main>
</article>
</body>
