
<main class="page-content">
    <article class="post">
<!--
      <h1>Article Layout with Varying Content Width Using CSS Grid</h1>
-->
<p>
<span class="royal-blue_intro">T</span>hey had been waiting for their ship to dock for days when Fawn finally spied the tattered sails of an old boat, its deck a weather-beaten gray.
</p>
<p>
They had been waiting for their ship to dock for days when Fawn finally spied the tattered sails of an old boat, its deck a weather-beaten gray.
</p>
<p>
“Is that it? The cure?” the Squire asked Fawn. Fawn looked out to view the boat’s nameplate, which read “H.M.S. Experience.”
</p>
<p>
The boat pulled up to the dock with its captain as the only occupant, his eyes to dry and bloodshot that you could hear the lids scrape across them as he sighed and mumbled to himself. He turned towards Fawn.
</p>
<p>
“Let me guess. You were chartered on the H.M.S. Hangover Cure?”
</p>
<p>
“Yes,” said Fawn, incensed, her voice and uncharacteristically loosened cravat quavering in the wind. “We’ve been waiting here for days! We’ve eaten almost all our supplies. All we could do to pass the time was sleep.”
</p>
<p>
“Well that’s as close as you can get. It’s a made up ship. The cure doesn’t exist. They do that to newbies.”
</p>
<p>
“Fuck this shit,” said Comet.
</p>
<p>
“Well,” said the captain, taking pity on them. “Climb on board.”
</p>
</div>
</main>
</article>
</body>
