
<main class="page-content">
    <article class="post">
<!--
      <h1>Article Layout with Varying Content Width Using CSS Grid</h1>
-->
<p>
<span class="royal-blue_intro">A</span>s her party boarded the ship, Fawn took the captain aside. “How long should our journey take?” asked Fawn.
</p>
<p>
“I’m guessing maybe half an hour, possibly less if the wind stays strong,” said the captain as he stared out into the dark.
</p>
<p>
“Really?” pressed Fawn. “Have you made it to the drop off before?” asked Fawn, watching as a single sailor dragged a cart behind him which was filled with the ship’s provisions: a 3 Musketeers Bar, a two liter bottle of Pepsi Max, and Swiffer Wet Jet mop. There was a box of Swiffer Wet Jet sheets as well, but the captain plucked the box off the cart and threw it over his shoulder and into the sea.
</p>
<p>
“We should be fine with just the sheet that’s on that thing,” said the captain, who kicked a tooth clattering down the gore caked deck where the last whale on the island had been butchered on their last foray onto the hypersea.
</p>
</div>
</main>
</article>
</body>
