<% provide(:title, "Our Ales") %>
<h1 class="gold2">Our Ales</h1>
<div class="top_spacer">
</div>


<div class="center-div-seal-ale-1">

  <div data-content="Monarchy? More like malarky amirite? To wear a crown on your
  head is to paint a target on your back. Regicide makes it a cinch to take back
  what you deserve. Take a sip. Let the blade fall where it must." class="hyperseacovering">
  <div class="regicideshield">
  </div>
  <div class="regicide-text">
  REGICIDE
  </div>
  <div class="regicide-text2">
  for the courage
  </div>
  <div class="regicide-text3">
  to kill a king
  </div>
  <div class="crown">
  </div>
  <div class="crownjoint1">
  </div>
  <div class="crownjoint2">
  </div>
  <div class="crownjoint3">
  </div>
  <div class="crownjoint4">
  </div>
  <div class="crownjoint5">
  </div>
  <div class="crownjoint6">
  </div>
  <div class="crownjoint7">
  </div>
  <div class="crownjoint8">
  </div>
  <div class="crownjoint9">
  </div>
  <div class="blooddrop">
  </div>

</div>
</div>

<div class="center-div-seal-ale-2">
  <div data-content="Finally, an ale that will sacrifice everything, except taste.
  And that it absolutely will not budge on. So then, what good is a lamb with a heart of stone?
  Rethink what you believe. H.A.R.D. M.A.R.T.Y.R." class="hyperseacovering">
  <div class="martyrshield">
  <div class="martyr-text">
    <span class="letter6-martyr">H</span><span class="letter7-martyr">A</span><span class="letter8-martyr">R</span><span class="letter9-martyr">D</span>
    </br>
  <span class="letter5-martyr">M</span><span class="letter6-martyr">A</span><span class="letter7-martyr">R</span><span class="letter8-martyr">T</span><span class="letter9-martyr">Y</span><span class="letter10-martyr">R</span>
</div>
</div>
</div>
</div>

<div class="top-spacer-ales">
</div>

<div class="center-div-seal-ale-1">
  <div data-content="Tigers grow like grudges. And when they mature, they
  are the ones that harvest you." class="hyperseacovering">
<div class="tigerfarmshield">
  <div class="tigerfarm-title">
    TIGER
    FARM
    </div>
    <div class="tigerstraightening">
<div class="rightfangtop">
  </div>
  <div class="rightminifangtop1">
  </div>
  <div class="rightminifangtop2">
  </div>
    <div class="rightminifangtop3">
  </div>
    <div class="rightminifangtop4">
  </div>

    <div class="leftminifangtop1">
  </div>
  <div class="leftminifangtop2">
  </div>
    <div class="leftminifangtop3">
  </div>
    <div class="leftminifangtop4">
  </div>
  <div class="leftfangtop">
  </div>
    <div class="leftfangbottom">
  </div>
      <div class="rightfangbottom">
  </div>
</div>
</div>
</div>

</html>
