<% provide(:title, "Chapter 2: Daniel Only Cries At Night") %>
<% @user= current_user %>
<h1 class="gold2">Chapter 12</h1>
<h1 class="gold2">An Exquisite Vintage</h1>
<div class="top-spacer-chapter-intro"></div>
<main class="page-content">
    <article class="post">
<!--
      <h1>Article Layout with Varying Content Width Using CSS Grid</h1>
-->
      <p>
<span class="gray_intro">I</span>t was on the first night down from their mountain, when they had barely made a mile past the last trail before collapsing, when Comet barely had her bearings, staggering, towards the tent, ironically, like a newborn fawn, her mailed hands steadying themselves on Fawn’s furred shoulders—it was then when Pinot Grigio Bot walked up behind Comet, pulled the sword from her scabbard, and sabred the top of the magnum of champagne. He held the foaming bottle over his mouth and let the bubbly, suicidal swig pour through his copper mouth and into his clear barrel chest.
      </p>
      <p>
      It was on the first night down from their mountain, when they had barely made a mile past the last trail before collapsing, when Comet barely had her bearings, staggering, towards the tent, ironically, like a newborn fawn, her mailed hands steadying themselves on Fawn’s furred shoulders—it was then when Pinot Grigio Bot walked up behind Comet, pulled the sword from her scabbard, and sabred the top of the magnum of champagne. He held the foaming bottle over his mouth and let the bubbly, suicidal swig pour through his copper mouth and into his clear barrel chest.
</p>
<p>
      “What the actual fuck?!” shouted Fawn as she shucked the stumbling Comet into the tent and ran towards the robot. But by then the bottle was empty.
</p>
<p>
      “What are you doing?!” asked Fawn. “That’s the deadliest thing in the world! And we almost died getting it!” Her hooves were clattering against the automoton’s chest before <%= @user.characterfirstname %> bear hugged her and dragged her back towards. Fawn, her rich coat in tattered rags, her fine legs kicking in rage? The sight was almost too much for <%= @user.characterfirstname %> to bear.
</p>
<p>
      “It’s not the deadliest thing in the world, not on its own,” said PeeGee, his voice different, richer. A chic, hoity-toity bass profundo voice that rolled though the night air. “Daniel was wrong about the mountain. It’s not just weapons up there. The mountain also accretes things that could bring about the most violence.” The wine inside PeeGee had ground clearer, and was shot through with carbonation that flew up like sterile embers in his chest when he spoke. His whole bearing was stiffer, more dignified. Colder.
</p>
<p>
      “We’ll talk in the morning,” said Champagne Bot. The rest of the party was too exhausted to object.
</p>
<p>
      It turned out to be the late afternoon when the party finally awoke. Comet had, off course, fully recovered. She was kneeling next to a sleeping Fawn, eyeing Champagne Bot, her hand at the hilt of her reclaimed sword.
</p>
<p>
      “So, just as we’re on an island in the middle of a vast sea, every planet, every world, is like an island. And there’s a gigantic black sea between each planet. And, just like when we took SHIP NAME to get to Mount Oligarch, Daniel Kraken arrived on this planet in a ship of his own.”
</p>
<p>
      They were gathered around the campfire as the sun set. Champagne Bot had marshmallows stuck to the tips of the brass fingers of his right, which he had filed down to posh and sparkling points with a  rock during the night. He was roasting them to perfection, pinching them onto Graham Crackers and passing them out to the party.
</p>
<p>
      “As captain of the Bacchus, Daniel’s mission is to spread the gift of wine and song throughout the universe,” said Champagne Bot. “He was the first of his race to be entrusted with an entire flagship, its dark cargo hold lined with hibernating winebots like myself. Should his ship’s sensors detect sentience, Daniel was bound by an interstellar contract to land and let us loose. But Daniel, it seems, is not one for frivolity.”
</p>
<p>
      “Quite the understatement,” nodded Fawn.
</p>
<p>
      “He hates being constrained to just give away wine,” continued Champagne Bot. “Why give away wine when you can sell hard liquor? Why make friends when you can make a profit? So Daniel turned his ship hard into the Hypersea, where his aquatic abilities would grant him an advantage. It took decades for him to float us up, one by one, wiping our memories and stacking us side by side in the sand on the beach of his newfound kingdom. He preserved only Merlot Bot’s memories, because
</p>
<p>
    (1)  Reds are notoriously sadistic pieces of shit with no honor.
</p>
<p>
    (2)  Merlot Bot promised not to report him to the governing authorities if he got to smash us one by one under the morning sun, and let the tides smooth our torsos into seaglass.”
</p>
<p>
      Comet, usually unperturbed descriptions of slaughter, gasped at the the thought of these gentle automatons being systematically smashed.
      “As it turns out,” said Champagne Bot, “One thing that can bring us out of hibernation is to be spritzed with the blood of our brethren. I woke up, saw Merlot Bot with the hammer over his head and lit out for the hills.”
</p>
<p>
      “I hid from Daniel and Merlot Bot for centuries. I poured a bottle of my essence into a bottle of Daniel’s first ale, Gentle Nectar, which had been designed to calm the rapidly industrializing sentients who were overwhelmed by the concept of cities, and overpopulation, and poverty. I hid  the bottle at the top of Mount Oligarch, so that I could be revived at a time when Daniel was so desperate that he would mount an expedition for the island’s deadliest weapon. I got rid of my bubbles.”
</p>
<p>
      Fawn gasped.
</p>
<p>
      “Exactly,” said Champagne Bot. “I erased my own memories and wandered into the nearest farming community. Merlot Bot found me eventually, of course, but because I didn’t sparkle anymore, and was masquerading as a trash wine like pinot gris, he took pity on me.”
</p>
<p>
      “And now that you’re back, what needs to happen to Daniel?” asked Comet.
</p>
<p>
      “It’s simple,” said Champagne Bot. “He’s got to be stopped. You see what Daniel did when he brought his flavor of civilization to your idyllic isle. He invented money to make you poor. He makes you work in his distilleries until all you care about is getting drunk to forget that you have to clock in tomorrow. He smashes families so that he can gorge on orphans. He’s not civilization, he’s the worst consequences of it. He’s civilization’s hangover. And there’s only one way to stop him.”
</p>
<p>
      “How?” asked THE PAGE.
</p>
<p>
      Before Champagne Bot could reply, Salt Peter stepped out of the weeds and punched him, shattering his torso into a cloud of powder. His brass head, its LEDs dim, dropped into the coals of the campfire.
</p>
</article>
</div>
</main>
</body>
<div class="wrapper">
  <h1 class="square-gray">
    <a2 class="before after gold2">
    <%= link_to "Chapter 13", tad_excessive_path(current_user) %>
    </a2>
  </h1>
</div>
</html>
