<% provide(:title, "Chapter 5: Putting the Boar in Boardroom, Amirite?") %>
<% @user= current_user %>
<h1 class="gold2">Chapter 5</h1>
<h1 class="gold2">Putting the Boar in Boardroom, Amirite?</h1>
<div class="top-spacer-chapter-intro"></div>
<main class="page-content">
    <article class="post">
<!--
      <h1>Article Layout with Varying Content Width Using CSS Grid</h1>
-->
<p>
"<span class="gray_intro">I</span> think sending Fawn to retrieve the weapon is a long shot,” said Merlot Bot as he refilled Daniel’s glass.

</p>
<p>
“Fawn Longshot is her cousin,” joked Daniel, exceedingly pleased with himself. The boardroom at Kraken HQ with filled with the sounds of panting from the hunting hounds—Daniel adored dogs, and had insisted on inspecting them personally. Two stalwart huntmasters, Stalwart Huntmaster and his assistant, Mitsubishi Galant, sat at Kraken’s elbows and mulled over their contracts for bringing down the Butterfly Boar.
</p>
<p>
“Regardless,” said Daniel, “we need whatever weapons that Fawn can retrieve to bolster these gentlemen’s efforts.”
</p>

<p>
Stalwart looked up from his contract.
</p>

<p>
“Not to say we doubt your ability to slay this beast,” continued Daniel. “But you don’t gain total control over the fabric of an entire society without reinforcing the seams.”
</p>

<p>
“That’s not a problem,” said Stalwart. “We have every confidence that we can kill it. It’s not immortal by any stretch, we’ve seen it limp, we’ve watched it sleep. It’s enormous, but mortal.”
</p>

<p>
“It’s even been carved,” added Mitsubishi.
</p>

<p>
“John Carver got to it?” asked Daniel, looking over to Merlot Bot. John Carver had carved the tusk of every lesser boar on the island since the ivory supplies had dried up. He had been in charge of carving the taps of every ale on the island out of whale ivory, and because there were now no more whales, he had been dismissed.
</p>

<p>
“Don’t think of it as being fired,” Daniel had advised at the time. It was a rare thing when Daniel fired people face to face, but John had been in his employ for decades. John had held his calloused hands together in his lap, and had his head down, as if praying. His hairy nostrils were still rimed with ivory dust from the last batch of taps, which had been completed just this afternoon. Thatches of twirled together hair hung from his left nostril like walrus tusks, or crab claws.
</p>

<p>
“Think of it as a cetacean vacation,” quipped Daniel, but by that time it was too late, because John had been described in too much detail since the opening line of his firing, and the joke died quietly, like the island's last guillotined king. “It’s not a reflection of your performance. There are no more whales John. We got them all. I had to pillage every asylum on the island to get enough sailors. Now they can go free.”
</p>

<p>
John nodded obediently. His disgruntlement, at this point, was merely a cloud of spermatozoa swimming in the dark, seeking an egg of resentment. Now, years later, it was fully grown—his disgruntlement was repairing the control arm on his Ford Focus in order to pass inspection, and was paying an extra 100 bucks a month on his mortgage against the principle.
</p>

<p>
Since his dismissal, he had begun carving boar tusks. Unlike Daniel and his whales, John didn’t kill the boars. He tracked them throughout the day and snuck up to lay beside them at night. He hid under a cloak of boar hide—a silvered sow, a thick hide of bristles cut from an asthmatic matriarch who had died peacefully in her sleep. He could carve a single boar for months, shaving slivers from their tusks until chess pieces appeared. He used the same steel tools that Daniel Kraken had provided for him—these tools were circled in red ink on the debit side of a special ledger, because Daniel fully John to reimburse him.
</p>

<p class="has-side-note">
Boars have razor keen senses, and despite smelling like a respected member of the group and being preternaturally silent, sometimes John’s tools scraped a tusk at twilight, or he nudged a piglet awake during the finer scrollwork, and the entire group would rush off into the darkness. For John it was the most thrilling quest imaginable. He delighted in the silence, in the grueling daily hikes, in the tusks that bobbed with every breath. Sometimes he wouldn’t need to actively carve, he would just hold his knife still and let the boar’s breathing move the tusks up and down. Some nights a boar’s wet breath would freeze on his sleeves. He had completed several full chess sets—the left tusks painted with black ink, the white tusks sparkling, finally freed from the years of rooting grime. It had taken him months to complete the pieces on the Butterfly Boar, and now his masterpiece was barreling across the countryside and towards Kraken HQ.
</p>

<p class="side-note" style="border-left: 5px solid #C0C0C0">"Whales were magnificent. I miss their teeth."--John Carver</p>


<p>
“I’m curious,” said Daniel, turning towards Stalwart. “What kind of pieces did he carve on the Butterfly Boar?”
</p>

<p>
“Pawns,” said Stalwart.
</p>

<p>
“Not queens? Not kings? Do they have the rounded heads?”
</p>

<p>
“Yes,” said Stalwart. “The tops are so polished you can see the right one flash in the sun when he’s out in the open.”
</p>

<p>
“Do you think it’s strange that John has blunted the tusks?” asked Daniel. “Do you think that it’s ironic he’s assigned the least consequential pieces to this most monstrous boar?”
</p>

<p>
“I’m just glad it’s not a bishop,” said Mitsubishi, running his fingers across a jagged white scar on his arm. “Bishops are pointy.” The Bishop Boar had topped out at five-hundred pounds, and its slaughter had been instrumental in Mitsubishi’s recent promotion to second in command.
</p>

<p>
“And the chrysalis the boar drags behind him?” asked Daniel, pushing aside the dossier that Merlot Bot had prepared for him. “What kind of insect lies inside of it?” Many of the facts in the dossier corresponded to what the hunters were telling him, but Daniel Kraken simply adored multiple sources.
</p>

<p>
“A monarch butterfly,” said Stalwart.
</p>

<p>
“Not a good sign,” said Merlot Bot, laying a menu in front of Daniel.
Merlot Bot loved cooking, and because every hunt that Daniel mounted
invariably ended in success, it didn’t hurt to be prepared:
</p>
</article>
</main>
<div class="kraken_menu">
  <div>
    <div class="kraken_menu-title">
      DK
      <div>
        <%= image_tag("mb_wreath.svg", :size => "50x50") %>
      </div>
    </div>
  </div>
    <div class="kraken_menu-subtitle">
    1st Annual Butterfly Boar Luncheon
  </div>
  <div class="kraken_menu-header">
   Apéritif
  </div>
  <div class="kraken_menu-subtitle">
    Snifter of Kraken Especiallement.
  </div>
    <div class="kraken_menu-header">
   Entrée
  </div>
  <div class="kraken_menu-subtitle">
  Sweetmeats stewed in a Dandelion Paste.
  </div>
  <div class="kraken_menu-header">
  Main Course
  </div>
  <div class="kraken_menu-subtitle">
Peppered Boar Steak topped with a Risotto of Scooped Pupae. Heaps of Mashed, Buttered Turnips and Taro
covered with a Skein of Boiled Boar Hoof Glue.
  </div>
    <div class="kraken_menu-header">
Dessert
  </div>
  <div class="kraken_menu-subtitle">
Blackberry Sorbet.
  </div>
      <div class="kraken_menu-header">
Digestif
  </div>
  <div class="kraken_menu-subtitle">
  Tumbler of Spiced Confidante.
  </div>
</div>
<main class="page-content">
    <article class="post">
<p>
“Excellent choice, MB,” said Daniel, lifting the menu to his nose to sniff it. Merlot Bot shared Daniel Kraken’s fetish for scented stationary, and had flicked a few drops of mint oil onto the thick linen. “Substitute curried eel in lieu of mashed taro,” said Daniel, who always requested something disgusting from the sea to be added to an otherwise perfectly appropriate list of side dishes. Daniel passed the menu across the table to Stalwart. “I’d like you two to attend. Merlot Bot has a gift for roasting the mythical.”
</p>
<p>
Merlot Bot, his LEDs blushing bright red, bowed to the hunters, flattered.
</p>
<p>
“Will dandelions even be in season when we bring…this…boar…down?” asked Daniel, pulling up on his waistcoat chain, spindly hand over spindly hand, as if raising an anchor. He flipped open his enormous gold pocketwatch to see what month it was.
</p>
</article>
</main>
</body>
<% provide(:button_text, 'Save changes') %>
<h1 class="gold2">What Month Is It?</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form_seasons' %>
  </div>
</div>
<div class="wrapper">
  <h1 class="square-gray">
    <a2 class="before after gold2">
    <%= link_to "Chapter 6", sailing_to_mount_oligarch_path(current_user) %>
    </a2>
  </h1>
</div>
</html>
