<% provide(:title, "Chapter 3: Bolide Rodeo") %>
<% @user= current_user %>
<h1 class="gold2">Chapter 3</h1>
<h1 class="gold2">Bolide Rodeo</h1>
<div class="top-spacer-chapter-intro"></div>
<main class="page-content">
    <article class="post">
<!--
      <h1>Article Layout with Varying Content Width Using CSS Grid</h1>
-->
<p>
<span class="blue_intro">F</span>awn awoke next morning to a loud banging on the door of the Foundling Wheel’s executive suite. Originally an orphanage designed to handle the rapid influx of motherless castoffs that had been created since Daniel Kraken had introduced alcohol to the island, it had been expanded to include luxury suites for esteemed employees and visiting dignitaries. Staffed by an endless supply of grateful orphans, the hospitality arm of the Foundling Wheel had always turned a handsome profit. For Daniel Kraken, turning a profit was nothing new.
</p>

<p>
Though it was just past Dawn, Fawn had already been awake for several hours, doublechecking her supplies. She already had on her exquisitely tailored houndstooth travel coat when she opened the suite’s door, where instead of a face, she stood staring at what would have been Comet Heartbreak’s bellybutton were it not plated with armor polished to a mirror shine.
</p>
<p>
Comet Heartbreak was at least 8 feet tall.
</p>
<p>
“Talk about Amazon Prime,” said Fawn, breaking the literary walls that kept our world separate from hers.
</p>
<p>
“Could we not talk about my body?” asked Comet. “I’ll be your escort. From here, to the top of Mt. Oligarch, and back to Kraken HQ. May I come in?”
</p>
<p>
“Of course,” said Fawn, stepping aside. Comet ducked her head under the doorway and clanked into the room. Her right braid swung against Fawn’s muzzle with a light “papf.”
</p>
<p>
“People always talk about my body,” said Comet. “Mostly men. It’s awful. On the way over here a roofer said he wanted to make a motorcycle out of me.”
</p>
<p class="has-side-note">
“One of those driving machines with two wheels?” asked Fawn, only passingly familiar with the motorized contraptions that Kraken Inc.’s transport arm was beginning to crank out.
</p>
<p class="side-note" style="border-left: 5px solid #6495ed">"Don't talk about my motherfuckin' body."--Comet Heartbreak</p>
<p>
“The very same,” said Comet. “The nerve! He thought that’d he’d be safe, being on the roof and all.”
</p>
<p>
“What happened?” asked Fawn.
</p>
<p>
“You can ask him yourself,” said Comet, nodding over her shoulder to a man crawling down the hallway. He looked back, bedraggled, his left ankle at an odd angle, it having been the handle that Comet had used to drag him down the cobblestone streets, past the protestations of the clerk, and finally up five flights to Fawn’s suite, where Comet had only let his leg fall when she had reached up to knock on Fawn’s door.
</p>
<p>
“Catch and release,” said Comet, settling onto the couch. “When do we leave?”
</p>
<p>
“Momentarily,” said Fawn. “Let me wake my page.”
</p>
</main>
</body>
<div class="wrapper">
  <h1 class="square-blue">
    <a2 class="before after gold2">
    <%= link_to "Chapter 4", saltlick_jukebox_path(current_user) %>
    </a2>
  </h1>
</div>
</html>
