<% provide(:title, "Chapter 9: A Deadly Monument to Merlot Bot’s Grim Persistence") %>
<% @user= current_user %>
<h1 class="gold2">Chapter 9</h1>
<h1 class="gold2">A Deadly Monument to Merlot Bot’s Grim Persistence</h1>
<div class="top-spacer-chapter-intro"></div>
<main class="page-content">
    <article class="post">
<!--
      <h1>Article Layout with Varying Content Width Using CSS Grid</h1>
-->
      <p>
<span class="green_intro">H</span>oly fuck Daniel was pissed. His business was in the red. His heart? In the black. The negative economic impact of the Butterfly Boar’s rampage was wreaking havoc on sales and production on the other side of the island. The problem with being an intricately vertically integrated company which was in the middle of controlling every aspect of the island’s life was that something this wild and powerful could cause Daniel’s tower to teeter with just a few kicks of its manhole-cover sized hooves.
      </p>
      <p>
      Just this morning there were reports that it had wallowed in a graveyard and rooted up entire plots of once prominent families who had been disgraced by their addiction to Infinite Rye. The coffins had been empty, because their bodies were currently floating in gigantic hickory casks kept in the cellar under Daniel Kraken HQ. Merlot Bot had discovered, through a series of experiments whose descriptions caused Daniel to demurely heave into his monogrammed silk handkerchief, that the pickled, intact corpses of people who had drunk themselves to death on Infinite Rye never failed to stabilize and in fact, improve, the next batch by several orders of magnitude.
      </p>
      <p>
      To have drunk from the first batch of Infinite Rye, as this family had at a private debut in the company ballroom, was to plummet into the depths of a limitless vintage— that first sip sent echoes of the addiction back in time to where you floated in the womb, and took its glowing thumb and PUSHED it into your still forming forehead, until your once finely boned aristocratic face spread apart in a retroactive, recursive, and severe fetal alcohol syndrome.
    </p>
    <p>
      After three decades of mellowing, Infinite Rye now only caused fetal alcohol syndrome if it was consumed by pregnant mothers, just like all alcohol does, and everybody was somehow cool with that.
    </p>
    <p>
      The entire line of this shattered family had been left destitute by their addictions, and Daniel thought he could avoid scandal by footing the bill for the burial of luxuriously appointed caskets stuffed with stones. And now Daniel had found that the boar had rooted them up! It had even licked a few apart with his rough tongue, trying to get at the thick residue of dripped Infinite that had wormed into the wood during the viewing.
    </p>
<p>
      And now that animal was on its way to the Ingot Exchange. Who knows what it would do there? It could jeopardize an entire harvest of both barley and brass!
</p>
<p class="has-side-note">
  Just then Daniel heard something shatter in the courtyard below. Merlot Bot started cursing intensely, his speakers pushing their specs, so much so that the panes began shaking in the floor to ceiling windows in Daniel’s study.
  <p class="side-note" style="border-left: 5px solid #00ff7f">"An entire harvest of barley and brass!"--Daniel Kraken</p>
</p>
<p>
      Just then Daniel heard something shatter in the courtyard below. Merlot Bot started cursing intensely, his speakers pushing their specs, so much so that the panes began shaking in the floor to ceiling windows in Daniel’s study.
</p>
<p>
      “My Prosecco Bot!” screamed the automaton, crouching over the cobblestones, scooping the glass up and holding up to his chest in despair. The workers loading the decommissioned wine bots onto the hunting party’s cart were holding their ears, squinting in both physical pain and in anticipation of a brass backhand from an enraged Merlot Bot.
</p>
<p>
      Merlot Bot had retrofitted his previously decommissioned and lobotomized wine bots to act as acorn feeders in the line that would lead the Butterfly Boar towards a prepared killing ground. With something as large and recklessly powerful as the Butterfly Boar, he had been prepared for some casualties, but had hoped for a nobler end for Prosecco Bot, who had always been quick with a joke during their time on the Bacchus.
</p>
<p>
      Merlot Bot played a MIDI file of a deep breath, and turned calmly towards the workers. “It’s OK boys,” said Merlot Bot. “Part of the job. Please continue.”
</p>
<p>
      What should his LED say? Forgive? Forget? It was blank, and black. He stared at the wagon filled with his brothers and sisters. Their once sparkly white or lusciously red vintages had been replaced with dun acorns, their limbs shorn off, their LEDs pried out, and their brass heads hammered into spigots. They would hang, upside down, on wooden tripods, and kick out acorns when
      triggered by the seismic trampling of an approaching Butterfly Boar. For now they sat stock still, almost shoulder to shoulder, save for the packing straw. Prosecco Bot has been the last. Maybe he had been pushing the workers too hard. He helped them replace Prosecco Bot’s empty space with more straw, sent them off with a bottle of yesterday’s vintage, and swept up the remains himself.
</p>
</article>
</div>
</main>
</body>
<div class="wrapper">
  <h1 class="square-green">
    <a2 class="before after gold2">
    <%= link_to "Chapter 10", ingot_exchange_path(current_user) %>
    </a2>
  </h1>
</div>
</html>
