<% provide(:title, "Chapter 1: Flight from Leviathan Bread") %>
<% @user= current_user %>
<h1 class="gold2">Chapter 1</h1>
<h1 class="gold2">Flight From Leviathan Bread</h1>
<div class="top-spacer-chapter-intro"></div>
<main class="page-content">
    <article class="post">
<!--
      <h1>Article Layout with Varying Content Width Using CSS Grid</h1>
-->
      <p>
<span class="yellow_intro">F</span>awn Bobapple looked up from the silver bowl
on Terry Blanchard’s desk.
In the bowl were two ants spinning at the cool end of a still smoking
matchstick that floated in a thin, bubbling pool of Kraken Lite.
Blanchard, who was Fawn’s legal counterpart in the service of Leviathan Bread,
had advised her that this matchstick was the closest thing they had to
fruit garnish in the branch office, but she knew it was just a negotiating tactic
meant to intimidate her. She licked a black, freshly bubbled up
blister on her top lip before reaching down to wipe her mouth on her sassafras cravat.
      </p>
      <p>
        “My father?” she asked. “He’s hanging right there.” Fawn turned to look at her father’s head, stuffed and mounted near the entrance of the foreman’s office. Every point on his gigantic rack of antlers punctured a stack of “PAST DUE” notices sent from Daniel Kraken’s collection service. Her father, Buck Bobapple, still had the jerked heart of his closest friend and law firm partner glued to his lips. It had been the last thing Buck had bobbed for, and he had done so under extreme duress. Now he hung as a macabre bouquet of crêpe carbon copy carnations of  dismissed financial obligations.
      </p>
      <p>
        This was the second round of negotiations with one of Daniel Kraken’s most shameless debtors. Each round took a generation to discuss and its risks were astronomical. Buck had been a tenacious representative for Kraken, Inc., the holly berries in his lapel still held a mirror shine, even in death, even in the flour choked office of Leviathan Bread.
      </p>
      <p class="has-side-note">
        “Do deer sweat?”, asked Blanchard, as he pointed a desk fan back at his sweating face.
        “You don’t seem to.”  The brass fan blades threw bright circles around the room, sometimes catching Blanchard’s narrowed eyes, causing him to blink.
      </p>
      <p class="side-note" style="border-left: 5px solid #DAA520">"Ahh brass. The glint of civilization."--Daniel Kraken</p>
      <p>
        “Only the details,” said Fawn. “Which I’m about to do, with you, right now.”
      </p>
      <p>
        The contract between Kraken, Inc. and Leviathan Bread lay on the long low table between them. It was several inches thick, with heavy, pressed cotton broad sheets filled from edge to scalloped edge with immaculately crisp cursive, written ten years ago by her father. Deer lawyers traditionally hold the pen in their mouths when drawing up contracts—it’s difficult to hold a pen steady in your hooves. Bucks can strap pens to their antlers, which match their mouth’s movements as the they lean over the writing desk, and allow young bucks to write documents in triplicate, and patriarchs like her father could lay up to thirteen sheets across the desk and fill them out all at once. Fawn would spend many nights up with Buck, stacking the completed sheets into separate piles as her father sat back, meditatively trimming candle wicks and refilling his pens. Now, as head of the family practice, Fawn just made do with her hooves. And she wrote fast.
      </p>
      <p>
        Blanchard wore a bleached linen suit, lined with snow white silk, with large, shimmering buttons of polished whalebone. All the workers at Leviathan Bread were dressed entirely in white to keep the pervasive clouds of flour blowing around the factory floor from making them look unprofessional. Blanchard was no exception, the leathers of his boots, belt, and a limp pair of driving gloves lying at the corner of the desk were made of a menagerie of slaughtered albino exotics.
      </p>
      <p>
        “Brass tacks, and why we should get down to them,” said Blanchard. He removed a whalebone switchblade from a pocket within his coat, deftly flipped it open, and began to sharpen the nibs on each of the three quills laid out on his desk.
      </p>
      <p>
        “Well we’ve agreed on the apportionment of the next five years’ worth of wheat production,” said Fawn. “Kraken Inc.’s distilleries will get seventy percent of threshed output.”
      </p>
      <p>
        “An unheard of increase over the last settlement,” remarked Blanchard. He dipped a pen into the inkpot and began to languidly sign and date the contract in a fine, entitled hand.
      </p>
      <p>
        “For an unheard of increase in price,” said Fawn. “That’s economics. That’s how it works.”
      </p>
      <p>
        “I agree. But the people need bread. They need nourishment so that they can suckle their children. They need teeth, for heaven’s sake,” said Blanchard.
      </p>
      <p>
        “Reports of the mewling toothless, be it babes dangling at the breast or dedicated connoisseurs of our product line, have been greatly exaggerated by temperance cultists and luddites who want go back to the time when we offered those infants to the sea,” said Fawn. “They may need bread, but they don’t get what they need. They get what they pay for. And right now they’re paying for Hypersea.”
      </p>
      <p>
        “Please,” said Blanchard. “Don’t use brand names. It’s just more distilled swill.”
      </p>
      <p>
        “It’s an intoxicating inoculation against the fear of the endless depths,” said Fawn, sliding the signed contract broadsheets into a monogrammed leather folio. She rolled delicately from the settee and stood on all four hooves, shaking off some of the flour that had blurred the fine auburn fur between the last of her fading fawn spots. She nuzzled the portfolio towards Blanchard and bowed.
      </p>
      <p>
        Blanchard, bemused, lifted the portfolio onto her back and bound it around her torso with two leather straps.
      </p>
      <p>
        “I wonder,” said Blanchard, cinching the last strap around her midsection, “what your father would have thought of this.”
      </p>
      <p>
        “Why don’t you ask him?” said Fawn, her tail flying up and driving flour up and into Blanchard’s nostrils. She hopped out of Blanchard’s office and through the foyer, clattering over the floorboards, and out the front door.
      </p>
      <p>
        Fawn flitted through the surrounding corporate gardens of Leviathan Bread, her spots creating a strobe effect between the deep green stems and the delicately curved petals of the innermost circle of orchids.
      </p>
      <p>
        The gardens, meant as a pun on the prized white flour folded into whale sized loaves that browned in the massive iron ovens in the belly of the bakery, were planted according to a strict hierarchy. The most common flowers were in the largest outer ring, with each subsequent ring becoming more and more expensive to maintain. To the outsider, it started with a briar choked froth of white wildflowers, moving on to charming plots of daisies tended to by local school children for extra credit, then to crisp tulips as immaculate as the habit of the prioress that had buried every bulb, and finally to the fanatically manicured ring of orchids, planted in secret, and only between midnight and dawn, by someone who just now jolted awake screaming, and feverish, as Fawn decapitated three of these orchids with a single kick.
      </p>
      <p>
        “How did it go?” asked Fawn’s faithful page, <%= @user.characterfirstname %> <%= @user.characterlastname %>, unstrapping the contract from her back. Fawn was drawing rapid breaths at the edge of the wild flower field. Her small frame had been weighed down by the gigantic legal document, and the briars had drawn tear drops of blood from her ankles during her escape.
      </p>
      <p>
        “I survived,” said Fawn.
      </p>
    </article>
    </div>

</main>
</body>
<div class="wrapper">
  <h1 class="square-yellow">
    <a2 class="before after gold2">
    <%= link_to "Chapter 2", daniel_cries_path(current_user) %>
    </a2>
  </h1>
</div>
</html>
