<% provide(:title, "Chapter 7: Merlot Bot Hatches A Plan") %>
<% @user= current_user %>
<h1 class="gold2">Chapter 7</h1>
<h1 class="gold2">Merlot Bot Hatches A Plan</h1>
<div class="top-spacer-chapter-intro"></div>

<main class="page-content">
    <article class="post">
<!--
      <h1>Article Layout with Varying Content Width Using CSS Grid</h1>
-->
      <p>
        <span class="blue_intro">D</span>aniel somehow held his huge pocketwatch
        steadily in his small, fine boned hands:
      </p>
    </article>
  </div>
</main>
</body>
<div>
  <%= render 'pocketwatch' %>
</div>
<main class="page-content">
    <article class="post">
<!--
      <h1>Article Layout with Varying Content Width Using CSS Grid</h1>
-->
      <p>
        <% if @user.characterseason == "STERLING" %>
            <p id="mutinytxt">“Aha! Perfect," said Daniel.</p>
        <% end %>
        <% if @user.characterseason == "BACCHANAL ROUGE" %>
            <p id="mutinytxt">“Merlot Bot my boy! You’ll be invincible!" said Daniel.</p>
        <% end %>
        <% if @user.characterseason == "BANNERMAN" %>
            <p id="mutinytxt">“Let’s make spears for all my rowdy constituents," said Daniel.</p>
        <% end %>
        <% if @user.characterseason == "LAMPLIGHTER" %>
            <p id="mutinytxt">“Gonna guide that pig to his grave," said Daniel.</p>
        <% end %>
        <% if @user.characterseason == "CARAMEL" %>
            <p id="mutinytxt">“Now I will oversee the crucifixion of a certain Sgt. Stickyhooves," said Daniel.</p>
        <% end %>
        <% if @user.characterseason == "BABEL" %>
            <p id="mutinytxt">“They’ll be time enough for talk then," said Daniel.</p>
        <% end %>
        <% if @user.characterseason == "THIEF" %>
            <p id="mutinytxt">“How apropos. Him being an enormous rascal eating into my profits and all," said Daniel.</p>
        <% end %>
        <% if @user.characterseason == "WHISTLE" %>
            <p id="mutinytxt">“They’ll be calling him the Whistle Piglet by the time we’re done with him," said Daniel.</p>
        <% end %>
        <% if @user.characterseason == "GOLIATH" %>
            <p id="mutinytxt">“You know what they say. The bigger they are the stinkier their buttholes," said Daniel.</p>
        <% end %>
        <% if @user.characterseason == "MIDWIFE" %>
            <p id="mutinytxt">“A month of birth becomes, ironically, a month of slaughter," said Daniel.</p>
        <% end %>
        <% if @user.characterseason == "CHALLENGE" %>
            <p id="mutinytxt">“I’m paying the team extra to lay off the crunches," said Daniel.</p>
        <% end %>
        <% if @user.characterseason == "TORRENT" %>
            <p id="mutinytxt">“Boars love mud," said Daniel.</p>
        <% end %>
        <% if @user.characterseason == "WOOLPULLER" %>
            <p id="mutinytxt">“Aha! Tricks are 30% more effective! He won’t know what hit him," said Daniel.</p>
        <% end %>
        <% if @user.characterseason == "WITNESS" %>
            <p id="mutinytxt">“TMZ’s going to be all over this hunt," said Daniel.</p>
        <% end %>
        <% if @user.characterseason == "SPITTOON" %>
            <p id="mutinytxt">“A filthy month for a filthy animal," said Daniel.</p>
        <% end %>
        <% if @user.characterseason == "BRIDLE" %>
            <p id="mutinytxt">“Ah my favorite month. A toast to total control," said Daniel.</p>
        <% end %>
        <% if @user.characterseason == "HONEYSUCKLE" %>
            <p id="mutinytxt">“The sweet smell of success," said Daniel.</p>
        <% end %>
        <% if @user.characterseason == "FANG" %>
            <p id="mutinytxt">“Thank goodness we’re hunting an omnivore this time," said Daniel.</p>
        <% end %>
        <% if @user.characterseason == "DOTARD" %>
            <p id="mutinytxt">“Age has its privileges," said Daniel.</p>
        <% end %>
        <% if @user.characterseason == "CLOVER" %>
            <p id="mutinytxt">“Four leaf for me, three leaf for him," said Daniel.</p>
        <% end %>
        <% if @user.characterseason == "BACCHANAL BLANC" %>
            <p id="mutinytxt">“My least favorite month," said Daniel.</p>
        <% end %>
        <% if @user.characterseason == "SHATTER" %>
            <p id="mutinytxt">“It’s my bones versus his," said Daniel.</p>
        <% end %>
        <% if @user.characterseason == "NITPICKER" %>
            <p id="mutinytxt">“Are we sure it’s not a javelina? Our hunting permit will come under intense scrutiny during this month," said Daniel.</p>
        <% end %>
        <% if @user.characterseason == "PETULANCE" %>
            <p id="mutinytxt">“Hmph. It would be that month," said Daniel.</p>
        <% end %>
        <% if @user.characterseason == "ICONOCLAST" %>
            <p id="mutinytxt">“Goddamn it. Advantage boar," said Daniel.</p>
        <% end %>
        <% if @user.characterseason == "NEOPHYTE" %>
            <p id="mutinytxt">“Damn tradition! Don’t bring any trainees on this hunt," said Daniel.</p>
        <% end %>
        <% if @user.characterseason == "HEAVENS" %>
            <p id="mutinytxt">“Jeeze Louise, who knows what we’ll encounter on this hunt," said Daniel.</p>
        <% end %>
        <% if @user.characterseason == "PURE ABJECT TERROR" %>
            <p id="mutinytxt">“Jesus fucking Christ," said Daniel.</p>
        <% end %>
        <% if @user.characterseason == "NAÏF" %>
            <p id="mutinytxt">“Wow we are gonna slaughter that widdle babeh boar!" said Daniel.</p>
        <% end %>
        <% if @user.characterseason == "ROUSTABOUT" %>
            <p id="mutinytxt">“Stalwart, we can grab a lot of cheap labor then. We can pay those idiots in ale!" said Daniel.</p>
        <% end %>
        <% if @user.characterseason == "BUTTERSCOTCH" %>
            <p id="mutinytxt">“Gonna drizzle that over some boar steak.” said Daniel, smacking his lips."</p>
        <% end %>
        <% if @user.characterseason == "SLATE" %>
            <p id="mutinytxt">“At least it’s not Shatter," said Daniel.</p>
        <% end %>
        <% if @user.characterseason == "ENTICER" %>
            <p id="mutinytxt">“At least he’ll be easier to trap," said Daniel.</p>
        <% end %>
        <% if @user.characterseason == "RAM" %>
            <p id="mutinytxt">“Well then. We charge forward. Come what may," said Daniel.</p>
        <% end %>
        <% if @user.characterseason == "SAFFRON" %>
            <p id="mutinytxt">“Ugh. It’s almost too expensive to mount a mission then,” said Daniel.</p>
        <% end %>
        <% if @user.characterseason == "ENDURE" %>
            <p id="mutinytxt">“And so we must," said Daniel.</p>
        <% end %>
<!--
            'ROUSTABOUT',
            'NAÏF',
            'PURE ABJECT TERROR',
            'OH HEAVENS',
            'NEOPHYTE',
            'ICONOCLAST',
            'PETULANCE',
            'NITPICKER',
            'SHATTER',
            'BACCHANAL BLANC',
            'CLOVER',
            'DOTARD',
            'FANG',
            'HONEYSUCKLE',
            'BRIDLE',
            'SPITTOON',
            'FALSE WITNESS',
            'WOOLPULLER',
            'TORRENT',
            'AB CHALLENGE',
            'MIDWIFE',
            'GOLIATH',
            'WHISTLE',
            'THIEF',
            'BABEL',
            'ENDURE',
            'CARAMEL',
            'LAMPLIGHTER',
            'BANNERMAN',
            'BACCHANAL ROUGE'
          -->
      </p>
      <p>
        “Oh sir!” interjected Merlot Bot. “The hounds are here.”
      </p>
      <p>
        “Where?!” said Daniel Kraken, beyond excited.
      </p>
      <p>
        “They’re waiting in the lobby, sir,” said Stalwart. “Mitsubishi will accompany you down.”
      </p>
      <p class="has-side-note">
        Daniel Kraken was skipping down the staircase towards the dogs while Mitsubishi Galant struggled to keep up. Daniel barely made a sound, as his thin frame, wrapped in a black smoking jacket, satin jammies, and gold monogrammed “DK” slippers, weighed barely ninety pounds. The plush carpet on the staircase didn’t indent during his descent, and when he lifted his wizened hand from the end of the bannister you almost expected it to bend, like milkweed under a moth, and pop back up, because his movements were both light and frantic, the thin  skin on the back of his hands both iridescent and almost translucent, fluttering with anticipation. Daniel Kraken loved him some dogs.
        <p class="side-note" style="border-left: 5px solid #6495ed">"Honestly I didn't realize the pocketwatch ripped off the the
        alethiometer from The Golden Compass until all the coding was done."--The Author</p>
      </p>
      <p>
        “What’s this one’s name?” asked Daniel, running over to the largest hound, a brindled, deep chested molosser with red, deep set and droopy eyes.
      </p>
      <p>
“This one’s Big Data,” said Mitsubishi, who was impressed that someone who looked as frail as Daniel Kraken could even lift dewlap on the dog, much less swirl his cinderblock-sized head back and forth as he fawned over the animal.
</p>
<p>
“He certainly is big,” said Daniel. “Yes he is. But what a strange name for a hunting dog. Is his nose a vast warehouse of catalogued and cross referenced hunts?”
</p>
<p>
“Stalwart feels that eventually a thinking machine will gather so much personal information about us that we’ll no longer be looked at as independent beings, but rather commodities that will be bought and sold by corporations without our consent, and that every interaction we have will be agglomerated, analyzed, and weaponized to manipulate us.” said Mitsubishi. “It was the scariest name he could think of.”
</p>
<p>
“And this one?” asked Daniel, hopping over to an ebullient mountain cur.
</p>
<p>
“No Half Measures,” said Mitsubishi.
</p>
<p>
“She must be the lead dog,” said Daniel.
</p>
<p>
“Correct, sir,” said Daniel. “You know we have an itemized list of descriptions and a brief biography of each—”
</p>
<p>
“And this one? What’s this one called?” asked Daniel.
</p>
<p>
“Carbon Neutral,” sighed Mitsubishi.
</p>
<p>
“Oh wow,” said Daniel, “Is that because it has to kill an animal its size or equivalent each day in order to offset the carbon dioxide it produces?”
</p>
<p>
“Sure,” said Mitsubishi. “I can just fire off all the rest of names and then we can get them all together for a big ole pet fest?”
</p>
<p>
“Look at this…widdle…tyrant!” shouted Daniel as he rushed over to an extremely muscular Jack Russell Terrier.
</p>
<p>
“King,” said Mitsubishi.
</p>
<p>
“Besides my heart, what is he king of?” asked Daniel.
</p>
<p>
“He’s not literally king of anything, a lot of people just name their dogs stuff like that nowadays,” said Mitsubishi. “Like Rex, or Emperor. Just really grandiose names.”
Daniel seemed nonplussed. He abruptly dropped the dog from waist height—its nails clicked loudly on the marble. “What a disturbing trend for such traditionally servile animals.”
</p>
<p>
Back in the boardroom, Merlot Bot was grilling Stalwart about the specifics of the Butterfly Boar.
</p>
<p>
“How is the chrysalis attached to the boar?” asked Merlot Bot, plying him with a forbidden vintage poured from where his belly button would be. He had poured the originally proffered glass of Hypersea back into the bottle.
</p>
<p>
Stalwart accepted the glass gratefully.
</p>
<p>
“With thick chains, as if from an anchor. They attach to its shoulders. They actually have barnacles. There are calloused stripes across his flanks from where its rubbed off his bristles.”
</p>
<p>
“The chains are attached where his wings would be, if he were actually the butterfly boar,” continued Merlot Bot. Stalwart nodded. “I feel it’s a misnomer, don’t you think? He doesn’t have wings, and the butterfly, if that’s what it is, hasn’t emerged yet. He should be called the Chrysalis Piglet.”
</p>
<p>
“Oh that’s nice,” said Stalwart, swirling the goblet beneath his nostrils, unaccustomed to wine in any form. “That’s a nice naming idea,” he stated again, in between sips, trying to think of another name that combined something with the lifecycle of a boar with the lifecycle of a butterfly. “The Tusked Flutterer?” he asked, almost to himself, beginning to warm to the idea of wine. Stronger than beer but weaker than booze? What a concept.
</p>
<p>
“But just how big is he?” pressed Merlot Bot.
</p>
<p>
Stalwart reached down towards the knapsack leaning against his knees and pulled out what looked at first like a rough porcelain serving try. He placed it carefully in the center of the boardroom table’s polished walnut.
</p>
<p>
“This is a plaster cast of one of its hoofprints,” said Stalwart, diffidently.
</p>
<p>
“Oh my word,” said Merlot Bot, taking it in his hands and holding it out in front to get a better look. To stalwart, seeing the bacchanal bot hold the heavy dish in front of his chest was like watching his own tired moon struggle out from beneath the Hypersea during its blood red algal blooms. Unfamiliar with entertaining tangentially related analogous thoughts, he looked deeper into his wine glass, wondering if this was what made him wax poetic.
</p>
<p>
“He’s over three tons, based on the bridge he’s destroyed versus the one that stayed intact. Twelve feet tall at his chain bared trapezium,” said Stalwart.
</p>
<p>
“I’m sorry?” said Merlot, his LED showing a question mark.
</p>
<p>
“The long muscles down the sides of his back. The chains have rubbed them raw, you can seem them flex where’d normally there’d just be bristles. His tusks, before they were polished into pawns, are two feet long. My scouts says that he rolls his eyes and snorts petulantly when he hears false hog calls. He’s too smart to be led anywhere, too strong to be corralled.”
</p>
<p>
“What about spears?” asked Merlot Bot. You have the men. It seems like he’s just a big target. Like hitting a barn door.
</p>
<p>
“His hide’s too tough,” asserted Stalwart, handing back his empty glass to Merlot Bot’s beckoning brass phalanges. “They bounce off. That’s why Kraken sent his lawyer out on a wild goose chase for an ultimate weapon.”
</p>
<p>
  <div class="top-spacer-chapter-intro">
  </div>
<span class="bot_led">INCREDULITY</span>
<div class="top-spacer-chapter-intro">
</div>
</p>
<p class="has-side-note">
  “This is outrageous!” said Merlot Bot. “You’re shining us on! You moonsayin' son of a bitch! You expressed every confidence that you could kill the boar when Daniel was here! And now you’re fawning all over this immortal boar! Why say he can be killed when he can’t?”
  <p class="side-note" style="border-left: 5px solid #6495ed">"You moonsayin' son of a bitch!"--Merlot Bot</p>
</p>
<p>
“If it can be killed, we’re the team that can do it. But we need Kraken’s wherewithal. And with this thing out there, gobbling up everything, uprooting everything, there’s nothing else we’d rather hunt, even if we fail. Plus, we need to eat.”
</p>
<p>
“And what does he eat?” asked Merlot Bot. “I mean, I know he’s torn open silos with his tusks, and wallowed over entire wheat fields, and threatened this entire island with famine. But is there anything that can entice him. Anything special catch his eye?”
</p>
<p>
“He’s a fool for acorns,” confided Stalwart.
</p>
<p>
Down in the lobby, Daniel Kraken was fastidiously pinching cinnamon ticks from Big Data’s dewlap, squishing them between the crepe skinned tips of his fingers before loudly slurping the squished disks of ticks into his mouth. There were no natural sources of cinnamon on the island, and Daniel, besotted with these dogs and homesick for the spice, was almost shivering with pleasure, and had to bring the full force of his industrialist’s discipline to bear to keep from nibbling the ticks directly from the dog’s neck. Sometimes a particularly thick tick would escape a thorough chewing, and the spiced, still struggling arachnid would hit Daniel’s throat at an odd angle, causing the old man to hack and wheeze.
</p>
<p>
“Wow gross,” remarked Mitsubishi Gallant.
</p>
<p>
“I know, right?” barked Carbon Neutral.
</p>
<p>
Back upstairs, Merlot Bot was proposing a way to coax the Butterfly Boar to its doom.
</p>
<p>
“A great chain of motion activated acorn feeders!” he shouted, waving his brass hands over the map of the island that occupied an entire wall of Daniel’s study. “You’ll only have to stock and set them once. Whenever something as large as the Butterfly Boar draws near (and nothing else is as large as this monster) the feeders will activate, spray out an initial circle of acorns to get its attention, then turn towards the next feeder in the chain and fire its last batch at it, so that the animal is compelled to move on to the next feeder. So on and so forth until it reaches a battleground of our choosing.”
</p>
<p>
“What you’re talking about is a fairy tale, a child plunking his marble collection on the kitchen table to try and help with the family finances,” said Stalwart. “There’s no technology that we possess that can manufacture and deploy such devices.
</p>
<p>
“Leave that to me,” said Merlot Bot.
</p>
    </article>
  </div>
</main>
</body>

<div style="position:static;">
<div class="wrapper">
  <h1 class="square-blue">
    <a2 class="before after gold2">
    <%= link_to "Chapter 8", wild_white_automoton_path(current_user) %>
    </a2>
  </h1>
</div>
</div>
</html>
