<% provide(:title, "Privacy Policy") %>
<% @user= current_user %>
<h1 class="gold2">Privacy Policy</h1>
<div class="top-spacer-chapter-intro"></div>
<main class="page-content">
    <article class="post">
<!--
      <h1>Article Layout with Varying Content Width Using CSS Grid</h1>
-->
      <p>
<span class="red_intro">I</span> won't sell your email address or any of your personal information. Or
any of your information for that matter, personal or not.
      </p>
</article>
</div>
</main>
</body>
</html>
