<% provide(:title, "Prologue") %>
<% @user= current_user %>
<h1 class="gold2">Prologue</h1>
<div class="dramatis">
  Dramatis Personæ
</div>
<div class="top-spacer-chapter-intro"></div>
      <table>
	<thead>
	<tr>
		<th>Fawn Bobapple</th>
		<th style="text-align:center">.......</th>
		<th style="text-align:right">Our Intrepid Protagonist</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td><%= @user.characterfirstname %> <%= @user.characterlastname %></td>
		<td style="text-align:center">......</td>
		<td style="text-align:right">Fawn's Page, Budding Deuteragonist</td>
	</tr>
	<tr>
		<td>Daniel Kraken</td>
		<td style="text-align:center">......</td>
		<td style="text-align:right">Father of Our Modern Age</td>
	</tr>
  <tr>
    <td>Comet Heartbreak</td>
    <td style="text-align:center">......</td>
    <td style="text-align:right">Bodyguard and Kind of a Badass</td>
  </tr>
  <tr>
    <td>Pinot Grigio Bot</td>
    <td style="text-align:center">......</td>
    <td style="text-align:right">Last of the White Wine Automotons</td>
  </tr>
  <tr>
    <td>Merlot Bot</td>
    <td style="text-align:center">......</td>
    <td style="text-align:right">Red Wine Automoton, Vengeance Specialist</td>
  </tr>
  <tr>
    <td>Stalwart Huntsman</td>
    <td style="text-align:center">......</td>
    <td style="text-align:right">The Name Says It All</td>
  </tr>
  <tr>
    <td>Mitsubishi Galant</td>
    <td style="text-align:center">......</td>
    <td style="text-align:right">Huntmaster In Training</td>
  </tr>
  <tr>
    <td>Terry Blanchard</td>
    <td style="text-align:center">......</td>
    <td style="text-align:right">Bread Baker and Piss Taker</td>
  </tr>
  <tr>
    <td>Salt Peter</td>
    <td style="text-align:center">......</td>
    <td style="text-align:right">Assassin, Nascent Saint</td>
  </tr>
  <tr>
    <td>Doe Bobapple</td>
    <td style="text-align:center">......</td>
    <td style="text-align:right">Nail Grazer and Hell Raiser</td>
  </tr>
  <tr>
    <td>Buck Bobapple, Esq.</td>
    <td style="text-align:center">......</td>
    <td style="text-align:right">Daniel Kraken's Former Attorney, Now Deceased</td>
  </tr>
  <tr>
    <td>Small Almighty</td>
    <td style="text-align:center">......</td>
    <td style="text-align:right">Lightning Bolt in the Employ of Kraken, Inc.</td>
  </tr>
  <tr>
    <td>Tad Excessive</td>
    <td style="text-align:center">......</td>
    <td style="text-align:right">Fop and Mountebank</td>
  </tr>
  <tr>
    <td>John Carver</td>
    <td style="text-align:center">......</td>
    <td style="text-align:right">Disgruntled Artisan</td>
  </tr>
  <tr>
    <td>Sacrifice</td>
    <td style="text-align:center">......</td>
    <td style="text-align:right">Hardworkin' Momma</td>
  </tr>
  <tr>
    <td>Tithe</td>
    <td style="text-align:center">......</td>
    <td style="text-align:right">Joyous Daughter</td>
  </tr>
	</tbody>
</table>
</div>
</main>
</article>

<div style="position:static;">
<div class="wrapper">
  <h1 class="square-purple">
    <a2 class="before after gold2">
    <%= link_to "Chapter 1", leviathan_bread_path(current_user) %>
    </a2>
  </h1>
</div>
</div>
</html>
