<% provide(:title, "Prologue") %>
<h1 class="gold2">Prologue</h1>
<div>
<main class="page-content">
    <article class="post">
<!--
      <h1>Article Layout with Varying Content Width Using CSS Grid</h1>
-->
      <p>
        Prologue.
      </p>


  </article>
</main>
</body>
</html>
