<% provide(:title, "Chapter 4: An Embrace by the Saltlick Jukebox") %>
<% @user= current_user %>
<h1 class="gold2">Chapter 4</h1>
<h1 class="gold2">An Embrace by the Saltlick Jukebox</h1>
<div class="top-spacer-chapter-intro"></div>
<main class="page-content">
    <article class="post">
<!--
      <h1>Article Layout with Varying Content Width Using CSS Grid</h1>
-->
<p>
<span class="green_intro">A</span>s they walked down to the docks Fawn heard the opening strains of a drunken lullaby.
</p>

<p>
“Lord have mercy,” said Fawn to herself. “It’s her.”
</p>
<p>
They were across the street from The Beak. Being dockside, it catered to sailors, the rowdiest possible clientele. And by rowdy, I mean that they were all clinically insane. Well, those in charge, the captains and first mates, were clinically insane. The rest were still insane, to be sure, but not in a way that had yet to be defined in an academic setting.
</p>
<p>
Inside, Fawn could see her mother, Doe Bobapple, leaning lightly against the saltlick jukebox and drinking deeply from the champagne filled Ulshanka bubbling between between her forehooves.
</p>
  <p>
After a long day of nail grazing, Doe was relieved to have the chance to alternately hydrate and dehydrate herself—pausing after almost indecent gulps of Kraken Champagne Number 5 from the fizzing fur lip of the tattered hat to slick back the rough crystalline top of the jukebox. She was glad that her daughter, Fawn Bobapple, would never have to see her this way.
</p>
<p>
The fact that Fawn, so delicate, so proper, would never normally set hoof over the threshold of this husband-beaten face of a bar gave Doe the only comfort she could have that wasn’t salt, alcohol, or the odd addictive nail she’d manage to pry from the blinding surface of the copper gondola in the city’s administrative building.
</p>
<p>
Her daughter had everything that had made Doe Bobapple so alluring to her husband and Fawn’s Father, Buck Bobapple—a shiny coat dabbed with an orderly, creamy constellation of soft fawn-dots, wide black eyes, and crisp, silken ears that matched the dapper fabric that so frequently clothed the sartorially minded Bobapples.
</p>
<p class="has-side-note">
Doe had thrown that all away of course—her looks dulled by drink, her thin black lips calloused by prying nails from the smooth rooftops, her only clothes a faded black t-shirt with the phase, “Nail Grazin’ and Hell Raisin’” daubed in crude puffpaint along its shoulders.
</p>
<p class="side-note" style="border-left: 5px solid #00ff7f">"Nail grazin' and hell raisin'!"--Doe Bobapple</p>
<p>
Though Kraken Inc. didn’t make champagne anymore, only Doe ordered it, so there was plenty for her. She bought champagne with what little money she could get from scrap copper because its bubbles made it so she couldn’t see the reflection of her emaciated face.
</p>
<p>
“Hello Mother,” said Fawn.
</p>
<p>
Doe took a beat to turn her head towards Fawn and focus on her daughter. Her ears didn’t even flip forward, which was a sign of acute intoxication in deer; rather, they remained flopped over the thinning fur on the top of her head.
</p>
<p>
“My lawyer daughter!” shouted Doe over the din of the drinking sailors. Disturbed by her shout, one of the sailors, reflexively terrified, threw a full bottle of Hard Martyr over Doe’s shoulder and at Fawn’s face. To be bigger than a fawn is nothing special, to be faster than a fawn is no mean feat, and Comet Heartbreak was both of these. Her gauntleted fist caught the bottle like a rattlesnake snagging a fat bat. Comet flicked the bottle back at the gibbering sailor, hitting him square in the forehead. Finally, after what had been weeks, he could sleep.
</p>
<p>
Fawn and Doe Bobapple embraced by the light of the saltlick jukebox. Designed to both attract proto-anthro-ungulates and increase their thirst, saltlick jukeboxes were installed in every Kraken bar. Each one was a rainbow of compressed layers of increasingly exotic salt.
</p>
<p>
Blood red salt wrung in secret from the sullen sea. Neon green salt from the dried tears of Daniel Kraken, said to be collected by Merlot Bot on the nights when he wept over his ledgers. This attribution is a complete fabrication, as Daniel’s tears never dry, they only cause the people tasked with drying them to cry upon contact with their skin.
</p>
<p>
And because it’s impossible to dry them, then the people enslaved to dry them weep at the futility of their task. They wear a silver thimble around their neck, and once they fill this thimble with the salt from dry Kraken tears, they can go free. But because they can’t, their own tears drop into a sub-bucket tied around their waist. These are then marketed as Kraken tears. They’re dyed green.
</p>
<p>
Finally, in the center of the saltlick jukebox is an arc of indigo. Night Pharaohs, who in centuries past had ruled over the island with iron fists, had their corpses arranged in the fetal position on giant obsidian disks, and were packed all around with this deeply blue and solemn salt in order to preserve them. Daniel Kraken had seen to it that every one of these tombs was ransacked and that this salt was rightfully repurposed to encourage music, conviviality, and commerce.
</p>
<p>
“I’m going on a quest Mom,” said Fawn, brushing a stray bristle of Ulshanka fur from her mother’s shoulder. “I can’t say where.” She kept sentences short and simple for Doe when she was drunk, to avoid confusing her, and making her cry.
</p>
<p>
“I’m going on a ship,” continued Fawn. “Daniel can give you money if you run out.” She had meant to say, “if I die,” but didn’t want to upset her mother further.
</p>
<p>
“Okay baby,” said Doe, patting Fawn on her shoulder. “I don’t want you to go, but I haven’t been able to tell you anything since you lost your spots.”
</p>
<p>
Doe playfully turned Fawn’s head between her hooves, pretending to look for spots. Once Fawn had learned that losing your spots meant that you were an adult, she had shown her mother every time she’d thought she’d lost one.
</p>
<p>
“Pick a strong ship,” said Doe.
</p>
<p>
“I will,” said Fawn. “Well actually my page will. What do you say?” asked Fawn, taking the local ships manifest out from under the face of a passed out sailor who had been trying to chat up Doe before being drunk under the table. She slid it over while wiping tears from her wide eyes. “Which ship looks good to you?”
</p>
</main>
</body>
</div>
  <% provide(:button_text, 'Save changes') %>
  <h1 class="gold2">Choose Your Ship</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= render 'form_ship_name' %>
    </div>
  </div>
<div class="wrapper">
  <h1 class="square-green">
    <a2 class="before after gold2">
    <%= link_to "Chapter 5", boardroom_path(current_user) %>
    </a2>
  </h1>
</div>
</html>
