<% provide(:title, "Chapter 11: Salt Peter Online") %>
<% @user= current_user %>
<h1 class="gold2">Chapter 11</h1>
<h1 class="gold2">Salt Peter Online</h1>
<div class="top-spacer-chapter-intro"></div>
<main class="page-content">
    <article class="post">
<!--
      <h1>Article Layout with Varying Content Width Using CSS Grid</h1>
-->
      <p>
"<span class="yellow_intro">W</span>ow Confidante was rough,” thought Daniel, already two shots in and waiting for Fawn. He lay low and loose and his desk chair, playing with a paperclip in his left hand and massaging his gurgling hyponome with his right, which had been soldered shut (though incompletely), during his cadet training.
Daniel had made his fortune crossing the blood brain barrier, but Confidante was his only creation to break the brain space barrier. If two people were drunk on Confidante at the same time, they could share their thoughts. Daniel had been waiting for Fawn’s report since midday, and it was rare for her to be late.
      </p>
      <p>
      “We’re at the base of the mountain, and we’ll ascend tomorrow,” came Fawn’s thoughts, cool and proper and professional.
</p>
<p>
      “Aha! Excellent Fawn, right on time!” Daniel thought back. It was as close as he came to flirting in his entire life, and it excited him. His last chromatophores, which had gathered around his temples, pulsed lavender. He hoped that Fawn wouldn’t be able to sense this.
</p>
<p>
      “We’ve met another wine robot, like Merlot Bot, only his wine is white,” came her next message. Daniel’s buzz hadn’t necessarily been killed, but it was gasping for breath and pushing the pillow away from its face.
</p>
<p>
      “Go on,” urged Daniel, who knew that Fawn could barely handle her alcohol, and that he had one more message at best.
</p>
<p>
      “He’s super helpful. And like, obsessed with keeping us warm,” slurred Fawn’s thoughts, across the island and into Daniel’s ancient brain.
</p>
<p>
      And just like that, their exchange was done. Daniel hoped that Fawn hadn’t thrown up. She got so embarrassed by her loss of control, and her neck was so long, and delicate, that any acid that shot up from her cute little four-chambered tum tum would make her feel miserable for the entire day tomorrow.
</p>
<p>
      He reached down to the right hand side of his desk and pulled out his discretionary ledger, a horny, thorned affair of black crocodilian leather. He flipped to the last marked page which included the balance he had available for assassination. Luckily, his consistent improvement in bribery and cajoling had prevented him from contracting an assassin in centuries, and this was not a time for him to be cheap.
</p>
<p>
      He closed the black ledger and began clattering through the yellowed ivory cards in his Rolodex. He flipped to the “Ps”.
</p>
<p>
      “Peter, Salt,” said Daniel. “Long may he reign.”
</p>
</article>
</div>
</main>
</body>
<div class="wrapper">
  <h1 class="square-yellow">
    <a2 class="before after gold2">
    <%= link_to "Chapter 12", the_ascent_path(current_user) %>
    </a2>
  </h1>
</div>
</html>
