<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <p>
        Your Name: <%= @user.name %>
        </p>
        <p>
        Your Character's First Name: <%= @user.characterfirstname %>
        </p>
        <p>
        Your Character's Last Name: <%= @user.characterlastname %>
        </p>
        <p>
        Your Avatar:
        <%= gravatar_for @user %>
        </p>
      </h1>
    </section>
  </aside>
</div>
