<% provide(:title, "Our Spirits") %>
<h1 class="gold2">Our Spirits</h1>
<div class="top_spacer">
</div>

<div class="center-div-seal-ale-1">

  <div data-content="Dive into your greatest fear with Daniel Kraken's Hypersea.
  Deep juniper laced with existential dread lead to an intoxication that surrounds you.
  Why wait to drown? Outpace inevitability.
  Cast yourself into Hypersea." class="hyperseacovering">
<div class="wavecoveringleft">
  </div>
<div class="wavecoveringright">
  </div>
<div class="whiteshield">

    <div class="blueshield">
    </div>
    <div class="blueshield2">
    </div>

    <div class="bluecirclewave0">
    </div>
    <div class="bluecirclewave">
    </div>
    <div class="bluecirclewave2">
    </div>
    <div class="bluecirclewave3">
    </div>
    <div class="bluecirclewave4">
    </div>
    <div class="bluecirclewave5">
    </div>
    <div class="bluecirclewave6">
    </div>
    <div class="bluecirclewave7">
    </div>
    <div class="bluecirclewave8">
    </div>
    <div class="bluecirclewave9">
    </div>
        <div class="bluecirclewave10">
    </div>
    <div class="bluecirclewave11">
    </div>
    <div class="bluecirclewave12">
    </div>
    <div class="bluecirclewave20">
    </div>
    <div class="bluecirclewave21">
    </div>
    <div class="bluecirclewave22">
    </div>
    <div class="bluecirclewave23">
    </div>
    <div class="bluecirclewave24">
    </div>
    <div class="bluecirclewave25">
    </div>
    <div class="bluecirclewave26">
    </div>
    <div class="bluecirclewave27">
    </div>
    <div class="bluecirclewave28">
    </div>
    <div class="bluecirclewave29">
    </div>
    <div class="bluecirclewave210">
    </div>
    <div class="bluecirclewave211">
    </div>
    <div class="bluecirclewave212">
    </div>

    <div class="wavespacer1">
    </div>
    <div class="wavespacer2">
    </div>
    <p class="h">
      H
    </p>
    <p class="y">
      Y
    </p>
    <p class="p">
      P
    </p>
    <p class="e">
      E
    </p>
    <p class="r">
      R
    </p>
        <p class="s">
      S
    </p>
        <p class="e2">
      E
    </p>
        <p class="a">
      A
    </p>
    <p class="depths">
DO NOT
    </p>
    <p class="depths2">
FEAR ITS DEPTHS
    </p>





 </div>
</div>
</div>

<div class="center-div-seal-ale-2">

  <div data-content="Wow. Ummm. Well the kernals are high powered magnets
  and they accelerate the sheaves? They grow from the sheaves? They sprout from that which they accelerate? Rich, syrupy
  metadata with notes of time and space? Don't look behind you, it's Infinite Rye." class="hyperseacovering">

  <div class="tesseractshield">
  <div class="tesseract-8">
    8
  </div>
    <div class="tesseract-title">
    INFINITE RYE
  </div>
    <div class="tesseract-motto">
      THERE'S<br/>
      SOMETHING<br/>
      ABOUT<br/>
      THE<br/>
      SHEAVES<br/>
  </div>
<div class="entiresheaf">


<div class="bunch1">
<div id="circleleft">
</div>
<div id="circleright">
</div>
</div>

<div class="bunch2">
<div id="circleleft">
</div>
<div id="circleright">
</div>
</div>

<div class="bunch3">
<div id="circleleft">
</div>
<div id="circleright">
</div>
</div>

<div class="bunch4">
<div id="circleleft">
</div>
<div id="circleright">
</div>
</div>


</div>

<div class="entiresheaf2">


<div class="bunch1">
  <div id="laser">
</div>
      <div id="laser2">
</div>
<div id="circleleft">
</div>
<div id="circleright">
</div>
</div>

<div class="bunch2">
<div id="circleleft">
</div>
<div id="circleright">
</div>
</div>

<div class="bunch3">
<div id="circleleft">
</div>
<div id="circleright">
</div>
</div>

<div class="bunch4">
<div id="circleleft">
</div>
<div id="circleright">
</div>
</div>
</div>
</div>
</div>
</div>


<div class="top-spacer-ales">
</div>

<div class="center-div-seal-ale-1">

  <div data-content="A single shot of Confidante lets you send your sweet, byzantine
  whispers into the ears of the one you're thinking about. Any where, at any time, you can drink
  this liquor, steeped in secrecy, and share your desires with anyone on the island." class="hyperseacovering">

<div class="confidanteshield">
  <div class="confidante-title">
  Confidante
  </div>
  <div class="confidante-lips">
  <?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 19.2.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 800 800" style="enable-background:new 0 0 800 800;" xml:space="preserve">
<style type="text/css">
	.st0{display:none;}
	.st1{display:inline;fill:#050000;}
	.st2{fill:url(#SVGID_1_);}
	.st3{fill:#FFFFFF;}
</style>
<g id="Background" class="st0">
	<rect x="-49" y="-41" class="st1" width="914" height="946"/>
</g>
<g id="Objects">
	<radialGradient id="SVGID_1_" cx="175.8159" cy="479.6105" r="26.1559" gradientUnits="userSpaceOnUse">
		<stop  offset="0" style="stop-color:#E5174C"/>
		<stop  offset="1" style="stop-color:#5F1D2D"/>
	</radialGradient>
	<path class="st2" d="M182.1,473.7c0.6-5.6,4.1-13.9,1-10.8c-4.5,4.5-4.9,3.4-7.4,8.2c-2.5,4.8-5.1,8.9-6.3,13.2
		c-1.2,4.3-3.4,7.1-1.6,9.1c1.8,2,4.5,7,7.3,0C177.9,486.4,181.5,479.3,182.1,473.7z"/>
	<g>
		<path class="st3" d="M736.3,456.7c-1.9,0.8-3.7-3.2-1.3-4.4c2.4-1.2,1-9,0-10.6c-1-1.6-2,0.4-4.2,2.4c-2.2,2-4.4,1.4-4.2,0
			c0.2-1.4,2.6-2,5.6-4.2c3-2.2,1.6-3,0-5.4c-1.6-2.4-2-2.2-2.3-2.2s-5.3,2.2-9.6,5c-4.2,2.8-3.8-1.2-1.8-3.2c2-2,5.8-1.6,10-4.4
			c4.2-2.8-2.6-4-5.8-7.4c-3.2-3.4-3.4-3.4-7.5-6.2c-4.1-2.8-4.6,1.4-10.2,4.8c-2.8,1.7-4.3,2.3-5.9,3.2c0-0.3,0-0.7,0-1.1
			c2.4-1.7,5.2-4,10.3-6.8c8.2-4.4,5.8-5.6,3.8-8c-2-2.4-3-5.2-4.6-7.4c-1.6-2.2-3.2-2.4-4.4-1.6c-1.2,0.8-7.6,6.2-14.6,11.2
			c-1.5,1-2.5,1.8-3.2,2.2c-0.5,0.3-0.9,0.6-1.4,0.9c-0.2,0,0.5-0.8,0.1-1.1c-0.6-0.4,0.4-1.6,2.3-3.5c1.4-0.4,3.1-1,4.8-2.1
			c1.7-1.1,1.4-1.9,0.3-2.8c3.3-2.8,7.4-5.5,12.1-8.1c5.8-3.2-1.6-2.6-2.8-4.4c-1.2-1.8-2.8-2.2-5.4-4.2c-2.6-2-3.8,2.8-6.8,5.4
			c-1.1,1-3.3,2.4-5.9,4.3c-0.8-0.6-1.7-1.2-3.3-2.3c4.2-3.7,7.6-6.8,8.5-7.6c2.6-2.2,4-3.8,4.2-5c0.2-1.2-2.6-5.2-5.4-8.2
			c-2.8-3-9.4-5-11.4-7c-2-2,0.4-4.4,0-7.2c-0.4-2.8-2-2.8-4.4-4.8c-2.4-2-4-3.2-6.4-6.9c-2.4-3.7,0-1.5,0-5.5c0-4-3.2-4.4-3.6-5.6
			c-0.4-1.2-5.2-3.6-6.8-5.6c-1.6-2-4.4-4-7.2-8.8c-2.8-4.8-2.8-4-4.4-8c-1.6-4-2.8-4-7.2-6.8c-4.4-2.8,0-2.4-8.4-6.4
			c-8.4-4-3.6-3.6-3.6-9.6c0-6-32.6-34.9-34.6-36.9c-2-2-9.1-9.1-9.8-10.2c-0.7-1.1-1.3-1.9-5.2-4.5c-3.9-2.7-2.8-2-6.4-5.3
			c-3.6-3.3-2.1-4.1-5.3-8.3c-3.2-4.1-4.9-3.3-7-4.1c-2-0.8-7.7-5.7-7.9-6.2c-0.2-0.5-6.2-4.9-6.2-4.9l-5.7-4.2c0,0-1.5-1.5-3.8-2.5
			c-2.3-1-4.3-3.2-5.2-4c-0.9-0.8-6.2-1.9-7.5-3.9c-1.3-2-1.2-1.4-3.7-1.6c-2.5-0.2-5.1-2.1-6.3-3.8c-1.2-1.7-1.6-1-4.2-0.5
			c-2.6,0.5-5.4-1.5-7.6-2.9c-2.2-1.4-2.7-0.5-4.2,1c-1.5,1.5-1.2,1.1-4.5,1.8c-1.3,0.3-2.2,0.4-3,0.6c-1.2-0.4-1.7,0.3-2.8,1.4
			c-1.3,1.3-1.1,1-4,1.6c-0.5,0.1-0.9,0.2-1.4,0.3c-0.5-0.6-0.9-0.9-1.8-1c-1-0.1-4.8,2.1-6.8,0.7c-3.1-2.2-1.8-0.3-4.9,0.8
			c-2.8,1-6.6,2.2-6.9,2.1c-2.2-0.8-2.4,2.1-4.8,0.7c-2.4-1.4-2.8,0.2-4.7,1.2c-1.9,1-6.8,1.7-9.6,0.9c-2.8-0.8-4.4-2-7-0.9
			c-2.5,1.1-6.1-0.5-7.8-1.9c-1.6-1.3-2.1-0.8-6.1-2.4c-4-1.6-4.1-1.2-6.4-2.7c-2.3-1.5-2.5-1.3-5.9-2.3c-3.3-0.9-3.9-1.5-6.3-3.6
			c-2.4-2.1-2.5-2.4-5.6-3.5c-3.1-1.1-5.7-1.9-8.8-3.9c-3.1-2-13.1-4.7-15.5-7.1c-2.4-2.4-12.6-1.1-14.2-2.1c-1.6-1-13,0-15.6,1.7
			c-2.6,1.7-8,0.1-10.6,1.9c-2.6,1.8-9,3-11.6,4.2c-2.6,1.2-10.2,3.6-11.8,5.2c-1.6,1.6-6.4,3.2-7.8,2.8c-1.4-0.4-8.2,5.2-11.8,5.6
			c-3.6,0.4-15,6-16.8,7.8c-1.8,1.8-3.6,3-7.8,4.2c-4.2,1.2-6.6,5.2-10.4,6.2c-3.8,1-4,0.8-6.2,2.6c-2.2,1.8-12.2,6.4-13.4,7.6
			c-1.2,1.2-7,5.5-10.6,6.8c-3.6,1.2-2.8,1.6-5.1,4.3c-2.3,2.7-1.6,2.5-6.4,4.4c-4.8,1.9-30,19.3-34.4,19.9
			c-4.4,0.6-18,12.2-19.1,14.8c-1,2.6-12,8.8-13.2,10.2c-1.2,1.4-20.1,10.2-24.1,13.9c-4,3.7-7,4.5-5.5,6c1.5,1.5,3.5,5.1,1.5,3.9
			s-3.6-2-6-2.1c-2.4-0.1-7.1,4-11.4,6.7c-4.3,2.7-7.2,7.7-8.6,10.2c-1.4,2.5,2.1,4.3,5.7,7.3c1,0.8,2.3,1.9,3.7,3
			c-0.7,0.6-1.1,1.5-0.6,2.5c0.2,0.4,0.4,0.7,0.5,1.1c-2.2-2-5.4-4.3-7.5-6.7c-2.2-2.5-3.6-4.1-4.2-4c-0.6,0.1-2.4,1.8-3.5,3.2
			c-1.1,1.4-2.5,2-1.4,3c1.1,1,6.2,9,5.4,9c-0.8,0-7.6-8.4-9.3-9.5c-1.7-1.1-1.3-0.9-2.3,0c-1,0.9-0.9,3.1,0.2,4.2
			c1.1,1.1,4.6,4.8,6,8c1.4,3.2-1.4,0.7-2.4,0c-1-0.7-4.4-7.2-5.2-8.1c-0.8-0.9-1.2-1.1-2,0c-0.8,1.1-6.3,5.8-6.3,5.8
			s1.7,1.3,2.8,2.6c1.1,1.3,3.9,5.6,4.3,7.5c0.4,1.9-2.2,0.7-3.3-0.7c-1.1-1.4-4.7-5.1-5.9-5.7c-1.2-0.6-4.7,1.3-3.5,3.7
			c4.7,9.6,6.9,12.6,12.9,18.2c6,5.6,6.4,4,7,2.4c0.6-1.6-2-5.6-5-10c-3-4.4,0.4-3,2.8-1.2c2.4,1.8,3.4,8,6.6,13.8
			c3.2,5.8,7,6.6,18.6,9.4c11.6,2.8,14,0.8,15-1.6c1-2.4-1.2-3.6-4.6-8.8c-3.4-5.2-7.4-8.2-12.6-14c-5.2-5.8,2-2.2,5.6,0.8
			c3.6,3,22.7,30.3,27.1,30.1c4.4-0.2,6.6,1.2,8.2-4.6c1.6-5.8-0.4-4.2-3.4-13.6c-0.9-2.8-1.2-4.3-1.1-4.9c0.3,0.1,0.7,0.1,1,0.2
			c0.8,0.9,2,2.7,2.7,4.1c1.8,3.2,1.2,7.6,2.8,13.6c1.6,6,3.8,5.6,7.4,4.6c3.6-1,11,0.6,20.3,1.4c4.2,0.4,6,0.3,6.8,0.1
			c1.2,0,2.3-0.3,4-0.8c1.8,0.8,3.7-1.1,8.3-0.4c6,0.8,9.8-0.6,18.4-1.2c3.1-0.2,4.2-0.7,4.6-1.3c3.4-1.2,14.3-3.9,20.2-7.6
			c6.8-4.3,13.9-3.3,16.6-3.2c0,0,0,0,0,0c0.5,0.1,0.9,0.1,1.2,0c6.1,0.2,30.1,0.5,45.9-8.2c17.3-9.5,37.7-1.9,51.3-10.2
			c4.5-2.7,10.2-2.2,16.2-0.3c0.3,0.2,0.7,0.5,1,0.7c2.3,1.6,4.1,1.9,6.6,2.4c9.6,4.6,18.5,11.1,22.2,12.2
			c4.6,1.3,23.3,2.9,39.4,1.1c1.1-0.1,2.3-0.3,3.4-0.4c5.2-0.6,11.9-0.7,19.9,2.7c9.8,4.2,15.3,8.4,28,15.1c1.1,0.7,2.4,1.3,3.8,1.9
			c12.8,5.9,31,11.2,41.7,14.8c4.6,2.5,8.2,5,11.4,8.8c0,0,0,0,0,0c0.4,1.9,3,3.8,6.1,6.9c2.4,2.4,28.5,18.9,34.1,21.5
			c0.8,0.6,2.5,1.5,4.6,2.4c7.9,4.6,14,10.2,19.6,11.8c2.7,0.7,14.1,8,15.2,8.6c0,0,3.2,1.8,3.3,1.8c2.7,1.4,12.5,5.3,14.2,5.8
			c1.1,0.3,1.6,0.4,2.8,0.7c0,0,0,0,0,0c0.9,0.2,2.2,0.5,4.5,1.1c5.2,1.4,13.4,5,15.4,2.6c2-2.4,5.2-2.6,5.2-1
			c0,1.6-1.8,3.6-0.8,6.1c1,2.4,4.4-0.6,8.2-0.8s4.4-0.8,8.4-3.2c4-2.4,6.6-4,11.8-7c5.2-3,7-3,11.6-6.2c4.6-3.2,9.2-4.2,17-6.8
			c7.8-2.6,0.8,2.4-2.2,3.2c-3,0.8-18.9,8.8-22.9,10.8s-14.2,9.6-12.6,10c1.6,0.4,11-2.6,20.3-3.8c9.2-1.2,18-5.8,25.3-9.8
			c7.2-4,10.4-4.6,11-6C742,457.3,738.1,455.9,736.3,456.7z M120.5,323.9c-0.3,0-1.5-1.3-3-2.9c0.4-0.4,1-0.3,1.9,0.4
			C120.2,322.8,120.8,323.9,120.5,323.9z M138.3,323.5c0.5,0.5,0.6,0.9,0.4,1.2c-0.2-0.3-0.4-0.6-0.5-0.8c-0.3-0.5-0.5-0.9-0.6-1.2
			C137.8,323,138.1,323.3,138.3,323.5z M136.3,341.8c1.1,0.2,2.5,0.9,3.4,1.3c1.7,0.8,2.2,2,2.7,5.1
			C140.5,346,138.5,344.1,136.3,341.8z M160.6,328.2c-0.8-1.3-0.8-2.6,0.2-3.7c0.2,0.4,0.3,0.8,0.3,1
			C161.4,326.2,161.5,328.2,160.6,328.2z M164,331.3C164,331.3,164,331.3,164,331.3c-1-4.1,2.2-2.5,4-1.6c0.2,0.9,0.4,1.9,0.6,2.9
			C170,338.6,167.9,334.1,164,331.3z M182,331.9c-3.2-6.2-3.2-3.2-6.2-7.3c-3-4.1-6.2-7.9-8.7-11.9c-1.7-2.7-0.4-2.6,1.4-1.2
			c2.9,6.2,2.1,5.8,7.4,10.9c5.7,5.6,6.4,6.1,7,10c0.1,0.4,0.1,0.8,0.1,1.1C182.6,333,182.3,332.5,182,331.9z M193.4,322.4
			c-0.1-0.4-0.3-0.8-0.5-1.2c-1.3-2.9-2.7-6.2-4-9.3c0.3-0.2,0.6-0.3,0.9-0.5c3-1.3,3,3.4,4.3,9
			C194.9,323.6,194.5,323.5,193.4,322.4z M207.8,339.8c-1.4-3.9-2.3-5.8-2.9-7.4c1.5,2.7,3.2,5.2,5.4,7.2c0.2,0.7,0.3,1.5,0.6,2.3
			C212,346.1,210.7,347.9,207.8,339.8z M243.2,343.8c-1.6-1.3-2.6-2.3-4.1-3.7c-0.8-0.9-1.3-1.4-2.3-2.1c-1.3-1.1-2.9-2.4-5.1-4.1
			c-3-2.3-4.4-3.8-5.4-5.3c-0.2-0.7-0.5-1.6-0.8-2.7c-2.2-7.7-5.3-15.5-2.5-12.2c2.2,4.2,4.4,9.9,8.5,13.3c1.1,3,0.5,3.6,4.9,6.4
			c2.8,1.7,4,1.9,4.8,2.5c0.4,0.4,0.8,0.8,1.2,1.2c0.4,0.6,1,1.5,1.8,2.9c2.2,3.9,4,5.7,4.7,7.1C247.1,346,244.7,345,243.2,343.8z
			 M357.5,313.9c-0.2-0.6-0.3-1.2-0.6-2.8c-0.1-0.6-0.3-1.4-0.4-2.3c0.5,0.6,0.9,2.6,1.4,3.9c0.1,0.4,0.3,0.8,0.4,1.3
			C358,314,357.8,313.9,357.5,313.9z M365.8,214.6c-1.5,2.4-2.9,4.4-4,6.1C361,217.4,363.4,216.5,365.8,214.6
			C365.8,214.6,365.8,214.6,365.8,214.6z M381.5,209.2c0.2-0.7,0.6-0.9,1.1-0.8c1.3,1.8,2.6,4.7,3,7.4c0.5,3.3-0.2,5.7-0.8,7
			c-0.8-0.9-2-2.3-3.3-4.5C379,214.1,380.2,212.9,381.5,209.2z M383.7,247.7c-0.6-1.3-1.4-4.2-2.2-8.4c-1.5-7.6-1.2-4.9-0.2-7.2
			c0.9,1.1,1.7,3.3,2.2,5.5C384.1,241.1,384.4,243.5,383.7,247.7z M394.7,284.1c-0.4,7.9-2.5,8.4-6.6,20c-3.5,9.9-2.2,9.3-2.4,12.8
			c-3.3,9.9-1,7.7-2.1,14.1c-0.6,3.3-0.4,6-0.2,8.7c-1.4-1.2-2.6-2.3-3.7-3.5c-0.1-1-0.2-2.1-0.2-3.2c0-0.7,0.1-1.4,0.1-2.1
			c0.7-2.5,0.7-3.9,0.5-5.2c0.3-1.5,0.7-3.2,1.3-5.4c1.8-5.9,0.5-6.1,0.2-10.2c-0.2-2.2,0.1-5.3,0.8-9.1c0.2-0.9,0.5-1.8,0.7-2.7
			c2.6-9.6,3.2-8.2,4.6-14c1.4-5.8,1-7.6,3.8-12.2c2.8-4.5,2.8,3.1,3.8,5.9C395.1,279.4,394.8,281.4,394.7,284.1z M398.3,251.4
			c0,0.2,0,0.4,0,0.5c-0.7,7.3-4.1,9.1-5.7,6.6c-0.3-0.4-0.5-0.8-0.6-1.1c0.3-0.9,0.7-2.1,1.1-3.6c0.3-1,0.4-1.9,0.6-2.7
			c0.1-0.3,0.1-0.5,0.2-0.8c0.9-3.5,0.8-5.3,0.9-6.8c0.2-0.5,0.6-1,1-1.7C397.7,239.2,398.5,244.7,398.3,251.4z M398.9,289.2
			c0.6-1.1,1.4-2.1,2-4.2c0.3-1.3,0.7-2.3,1.2-3.1c-0.2,1.2-0.3,2.8-1.1,5.6c-1.3,4.4-0.6,5.2,0.4,6.8c-0.1,0.4-0.2,0.8-0.3,1.2
			c-0.9,3.1-0.9,4.7-0.5,5.8c-0.4-0.6-0.7-1.2-1-1.9C397.6,295.7,399.9,295.1,398.9,289.2z M400.7,315.4c0.7-0.9,1.5-1.2,2.6,0.2
			C402.3,315.5,401.5,315.5,400.7,315.4z M399.4,308.9c-0.2-0.3-0.3-0.6-0.4-0.9c1.2-1.9,2-4.4,3.5-3c0.4,1,0.8,2.2,1,4
			C404.6,316.9,401.5,313.1,399.4,308.9z M406.8,237.3c-1.4,4.8-3.7,8.1-5.4,1.9c-0.6-2.4-1.1-4-1.2-5.4c0.1-1.9,0.9-3.5,2.7-6.1
			c1.8-2.6,3.7-3.6,5-3.7c0.7,0.3,1.2,1,1.1,1.9C409,230.9,408.2,232.5,406.8,237.3z M431.6,293.2c-1.5,6.8-4.9,13.6-1.3,10.7
			c0.2-0.1,0.3-0.3,0.5-0.4c-0.1,0.1-0.2,0.2-0.3,0.4c-3.6,4.8-3.8,10.4-7.3,9.1c1-1.6,1.1-2-2.7-3.8c-0.8-0.4-1.5-0.7-2.2-1
			c0.1-0.6,0.3-1.2,0.7-2c1.8-4.5,4.3-4.2-0.8-6.5c-0.4-0.2-0.7-0.3-1.1-0.5c1.4-2.2,2.7-3.2,4.3,0.7c2.5,6,3.4,10.1,4.4,7.4
			c1-2.7,1.3-0.2,0-7.1c-1.2-6.6-1-13.8,2.1-13.7c-1.4,5.7-4,11.1-1,8.6c2-1.6,3.8-3,4.9-2.8C431.7,292.5,431.7,292.8,431.6,293.2z
			 M447.4,325.3c-2.8,4.3-6.2,10.5-8,7.9c-0.1-0.1-0.2-0.2-0.2-0.3c1.2-2.4,2.9-5.3,5.1-8.9c5.4-8.8,4.1-9.2,7.5-18.6
			c0.2,0.9,0.3,2,0.3,3.6C452,315.3,450.2,321,447.4,325.3z M456.7,290.4c0.5-2.4,0.5-4.5,0.1-6.8c-0.3-1.9,0.5-3.9,1.6-5.9
			c0.1,0.1,0.2,0.3,0.3,0.5C460.3,281,458.7,285.9,456.7,290.4z M468.5,297.8c-0.2,3.3-0.8,6.7-1.3,10.1c-1.5-3.4-2.1-3.8-0.2-10
			c1.4-4.7,2.4-5.5,3.5-7.2C472.3,291.2,468.9,292,468.5,297.8z M473.9,279c0.2-3.9-0.6-6.3,1.1-10c0.6,0.4,1.1,1.2,1.1,2.5
			C476.1,275.4,475.1,277.4,473.9,279z M477.2,322.6c-0.1-0.4-0.2-0.7-0.4-1.1c0.6-0.7,1.1-1.3,1.4-1.6c0.2-0.2,0.5-0.8,0.9-1.5
			C479.1,324,479,328.3,477.2,322.6z M489.1,329.8c1.4-2.7,3.3-6.9,3.8-7.6c0.2-0.3,1-1.1,2-2.1c1.2-0.8,2.7-1.8,4.7-3
			c8.7-5.4,4.5-3.9,6.6-6.2c1.9-2.1,2.7-2,4.6-2c-1.6,2-2.9,3.9-2.8,4.5c0.1,0.7,0.2,2.2-0.1,3.5c-3.1,1.9-6,3.8-7,4.7
			C498.7,323.8,497.6,328.6,489.1,329.8z M510.7,337.4c-0.4,0.3-0.8,0.6-1.1,0.9c-1.3,1.2-2.4,2-4,3.2c-1.5,0.7-3.4,1.2-5.8,1.5
			c-0.5,0.1-1,0.1-1.5,0.2c3.1-3.5,3.1-2.7,7-6.3c3.8-3.4,3.8-1.4,6.9-1.7C511.8,336,511.3,336.7,510.7,337.4z M515.1,277.5
			c1.1-1.5,2.7-3.5,5.1-6.4c6.1-7.4,3.3-6.5,5.5-10.3c0.4-0.7,0.7-0.5,1.8,1.2c-0.2,0.4-0.4,0.7-0.7,1.1c-2.6,3.4-1.1,0.7-4.2,5.8
			c-3.1,5.1-0.9,5.3-4.3,7C517.1,276.4,516,277,515.1,277.5z M521.2,292.9c-0.4-1.5-1.5-2.6-1.4-4c0.7,0.5,1.5,1,2,1.2
			c0.6,0.3,1.5,1,2.1,1.5C522.6,293.5,521.6,294.6,521.2,292.9z M523.8,352.1C523.8,352.1,523.8,352.1,523.8,352.1
			c1.2-1.7,2.1-2.5,3-2.9C530.1,348.8,526.4,350.1,523.8,352.1z M528.7,250.8c0,0.4,0,0.7-0.1,1.1c-0.5-1.2-0.4-2.2,0.1-3
			C528.8,249.3,528.8,249.9,528.7,250.8z M529.6,247.7c0.7-0.7,1.5-1.4,2.3-2.1C531,246.6,530.2,247.4,529.6,247.7z M574.7,363.3
			c0.2,0.4-0.1,0.8-0.8,1.2C574,364.2,574.2,363.8,574.7,363.3z M532.9,287.6c1.7-3.3,4.6-5.4,6.3-10.8c1.4-4.7,2.4-6.2,4.6-9.1
			c0.4,0.6,0.9,1.3,1.5,2.2c2.3,3.5,1.1,3.1-1.4,6.2c-0.7,0.5-1.4,1.1-2,1.7c-4.3,3.9-2.7,4.9-3.3,6.8c-1.4,1.8-2.5,2.5-4.1,4.4
			C532.9,289.9,531.8,289.7,532.9,287.6z M540.1,298.5c-1.4,0.3-1.1,0-2.8,1.1c-2.3,1.4-1,2.1,0.4,2.5c-0.7,0.7-1.2,0.7-1.5-0.5
			c-0.5-1.8-1.8-3.1-1.6-5c0.4,0.5,1.3,0.7,3.3-0.1c5-2,2.3-1.8,3-3.9c0.5-1.5-0.3-1.8-0.3-2.9c3.8-3.3,5.3-5,7.2-9.3
			c0.1-0.3,0.3-0.6,0.4-0.9c0.3-0.3,0.6-0.5,0.9-0.8c4.3-3.7,1.6-1.2,1.4,0.4c-0.2,1.6-5.7,8.8-6.5,10.6c-0.4,1-0.3,1.7,0,2.1
			c-0.7,1.1-1.3,2.1-2.4,3.9C541.2,296.7,540.7,297.7,540.1,298.5z M555.2,286.7c0.1,0.6-1.1,2.3-1.1,3.2c0,1.5-0.5,1-4.1,5.4
			c-0.4,0.5-0.7,0.8-0.9,1.1c0.1-0.2,0.2-0.5,0.3-0.8C550.9,292.6,553.3,290.6,555.2,286.7z M544.9,351.2c-0.6,0.1-1.2,0.1-1.8,0.3
			c-0.3-1.1,0-2.5,1.5-4.2c0.1-0.1,0.2-0.2,0.3-0.3c0.5,0,1,0,1.5,0c8.2,0,8.2-0.4,9.1,0.9C556.3,349,550.6,350.6,544.9,351.2z
			 M558.7,314.9c-0.9,0.5-2.5,0.3-4.6-0.1c0.6-0.8,1.2-1.7,1.8-2.5c1.3,0.4,3,1.1,3.3,1.8C559,314.3,558.8,314.6,558.7,314.9z
			 M571.1,300.2c-2.4,3.9-2.4,2.1-5.6,6.8c0,0,0,0,0,0c-0.8,0-1.7-0.8-4.7,0.1c-0.5,0.1-0.9,0.3-1.3,0.4c0.7-0.9,1.3-1.8,1.8-2.5
			C564.9,300,574.5,294.7,571.1,300.2z M573.8,393.7c-0.3,0-0.5,0-0.7,0c1.6-0.2,2.7-0.4,4-0.8C576.3,393.3,575.2,393.6,573.8,393.7
			z M600,353.6c1.9-3,0.9-1.5,7.8-8.6c0.4-0.4,0.9-0.8,1.4-1.2c7.2-6.1,8.5-8,10.7-9.9c2.1-1.9,6.8-2.4,5,1.4
			c-0.1,0.3-0.2,0.5-0.2,0.6c-0.1,0.1-0.2,0.2-0.2,0.3c-5.4,5.5-7.2,7.2-9.3,9.4c-0.8,0.6-1.7,1.4-3.2,2.6c-4.6,3.7-4.2,5.1-7.7,6.7
			C601.1,356,599.3,355.4,600,353.6z M597.4,380c3.2-2.1,5.4-2.5,8-4.1c0.3-0.1,0.6-0.1,0.9-0.2c7.1-1.7-0.5,1.8-5.8,6.2
			c-0.6,0.5-1.2,1-1.7,1.4C595.7,383.5,594,382.3,597.4,380z M598.1,409.9c-2.2,1.2-3.1,1.7-3.8,2.2c0.1-0.1,0.1-0.2,0.1-0.4
			c0.4-1,1.1-2.8,4.3-3.7c1.2-0.4,1.9-0.2,2.2,0.2C600.4,408.5,599.6,409,598.1,409.9z M611.1,403.3c-2.3,1.2-2.9,1.2-6.8,2.9
			c-0.2,0.1-0.3,0.1-0.5,0.2c0.6-0.7,1.4-1.5,2.4-2.4c3.5-3.3,4.8-2.4,5.1-0.8C611.2,403.2,611.2,403.2,611.1,403.3z M611.1,371.4
			c0-0.3,0-0.5,0.1-0.6c0.2-0.2,0.4-0.3,0.6-0.5c0.7-0.4,2-0.8,4.3-2.4c1.4-0.4,2.4-0.1,2.4,1.1c-2.3,2.7-1.9,3.3-5.1,4.9
			C609.4,375.9,611.2,372.7,611.1,371.4z M622.6,433.1c-5.1,2.8-3.9,2.3-7.2,4.5c-0.1-0.6,0-1.4,0.1-2.4c0.2-1.3,0.4-2.4,0.6-3.3
			c2.1-1.4,4.2-2.7,6.6-4c1.8,0.6,3.7,0.3,4.2,2.4C626.3,430.7,626.1,431.2,622.6,433.1z M626.7,396.2c1.5-0.5,3.2-1,5.1-1.5
			c0.2,0,0.3-0.1,0.4-0.1C630.4,396.5,628.3,396.3,626.7,396.2z M647.1,347.6c2.4-2.1,7.7-2.7,5.6,1.6c-0.8,1.7,0.8,0-3.2,3.9
			c-1.5-0.8-2.9-1.5-3.6-2.2c-0.5-0.5-0.7-1-0.7-1.5C645.8,348.8,646.4,348.2,647.1,347.6z M637.2,390.7c0.1-0.3,0.1-0.6,0.1-0.8
			c-0.1-1.2,0.6-1,3.2-2.4c-0.2,0.2-0.4,0.4-0.6,0.6C638.7,389.2,637.9,390.1,637.2,390.7z M644.9,421.2c-1.2,0.8-1.4,1-3,2
			c-0.4,0.2-0.7,0.4-1,0.6c-0.9-0.5-1.2-1.4-1.4-2.7c2.6-1,4.7-2.5,6-3.3c1.6-1,2,0.8,2,0.8S646.1,420.4,644.9,421.2z M657.7,374
			c-1.5,1.3-5,3.6-8.8,6.4c1.9-2,4.2-4.2,7.7-6.4c1.3-0.8,2.2-1.5,3-2C658.9,372.7,658.3,373.4,657.7,374z M666,370.8
			c-0.7-0.4-1.4-0.9-2.3-1.6c-0.1-0.1-0.2-0.1-0.3-0.2c0.7-0.5,1.6-1,3.2-1.9C669.7,365.5,668.4,367.9,666,370.8z M668.4,437.5
			c0-0.2,0-0.4-0.1-0.6c1-0.5,2.1-1.1,3.4-2.1c1.3-0.9,2.5-1.6,3.9-2.2c1.5-0.1,2.6,0.5,3.3,1.5c-3.3,1.6-7.3,3.5-10.3,5
			C668.6,438.7,668.5,438.1,668.4,437.5z M675.6,450.2c-3.5,5.5-2.3,0-4.7-1.3c-0.7-0.4-1.1-1-1.4-1.8c0.6-0.1,1.3-0.2,1.9-0.3
			c2.8-0.4,5.6-1.1,8.3-2C678.8,446,677.4,447.3,675.6,450.2z M688.2,430.1c-0.1-0.2-0.2-0.4-0.4-0.6c-0.3-0.3-0.5-0.5-0.7-0.7
			C691.5,427.3,690.3,428.7,688.2,430.1z"/>
		<path class="st3" d="M662.9,519.7c-5.2-8.5-0.8-14.1-5.2-16.3c-4.4-2.2-2-3.3-4.4-2.2c-2.4,1.1-4.4,0.4-7.6,6.7
			c-0.1,0.2-0.2,0.3-0.2,0.5c-3.3-7.9,0-13.1-4.1-15.3c-4.4-2.4-2-3.6-4.4-2.4c-2.4,1.2-4.4,0.4-7.6,7.2c-3.2,6.8-2.4,6.4-1.6,11.2
			c0.8,4.8,0,7.4-1.6,1.7c-1.6-5.6-4.8-16.6-4.8-16.6s-2.2-1-3.2,0.3c-1.7-3.1-3.6-6.3-4.8-8.1c-2.4-3.7-7.8-9.6-10.4-11.6
			c-2.7-2-6.7-5.2-8.6-4.5c-0.1,0-0.2,0.1-0.3,0.1c-2.5-3.4-5.7-6.9-7.5-8.3c-2.7-2.1-6.7-5.6-8.6-4.8c-0.4,0.2-0.9,0.6-1.3,1.1
			c-3.4-5.5-9.9-16.6-13.4-18.5c-2-1.1-4.4-1.9-7.1-2.7c-3.2-5.5-6.9-11.4-9.3-12.8c-4-2.4-9.9-3.7-16.3-5.6
			c-6.4-1.9-6.1-4.3-12-2.7c-5.9,1.6-12,5.3-12,5.3l-2.9,2.9c-2.9,2.9-21.3,12.8-24.8,13.9h-1.4c0,0-1.7,0.1-2.2,0.9
			c-2,0.4-3.8,0.8-5.2,1.8c-0.2,0.1-0.4,0.2-0.5,0.4c-2.3,2-12.6,1.5-14.5,2.3c-1.9,0.8-8.6-1.2-12-0.6c-1.9,0.3-3.3,0.2-4.6,0.3
			c-6.2,0.2-16-0.2-17.4-2.1c-0.3-1.6-3.5-1.9-4.3-1.3c-0.6,0.4-1.5,1-2.6,1.7c-1.3,0.7-2.8,1.6-4.7,2.7c-0.4,0.2-0.8,0.5-1.2,0.7
			c-3.8,2-2.8-0.5-1.6-2.6c0.8-1,1.2-1.6,1.1-2c0,0,0,0,0,0c0.4-0.9-3.6-1.7-6.1-2c-0.6-0.2-1-0.3-1-0.3s-0.3,0-0.8,0.1h0
			c0,0-1.5,0-3.4,0.6c-2.6,0.6-5.6,1.8-5.7,3.8c-2.1,2.5-3.8,1.8-5.2,0.4c-0.2-0.8-0.5-1.4-0.9-1.7c-1-0.7-1.4-1.7-2.2-2
			c0,0,0,0,0,0c-2.3-2.1-14.2-3-21.5,0.5c-5.4,2.6-7.8,0.9-9.4-1.5l-0.7-1.5c0,0,0-0.8-0.8-1.1c-1.9-3.2-11.9-3.6-12.9-3.1
			c0,0,0,0,0,0c-0.1,0-0.2,0-0.3,0.1c-1.1,0.2-3.5-0.5-5.6-2.8c-0.1-0.4-0.1-0.8-0.5-0.6c-1-1.3-2.6-2.5-4.1-3.5
			c0-0.3,0-0.4-0.3-0.2c-1.9-1.2-3.7-2-4.4-2c0,0,0,0,0,0c0,0-0.1,0-0.2,0c-1.7-0.3-8.4-2.2-12.7-5.6c-0.1-0.3-0.3-0.6-0.7-0.6
			c-2.1-1.9-6.2-5.3-10.1-8.8c-0.6-1.1-1.6-1.9-2.8-2.6c-3.1-2.9-5.6-5.5-6-6.8l0,0c0-0.7-0.1-1.5-0.4-2.5c-0.8-3.1-5.1-4.6-7.5-5.5
			c-2.4-0.8-5.1-2.1-7.2-3.8c-2.1-1.7-3.2-1-4.5-3.4c-1.3-2.4-4.3-1.1-9.1,0c-4.8,1.1-1.3,0.3-5.1,1.3c-3.7,1.1-4.7,2.1-9.4,2
			c-1.3-1.1-3-2.7-6.3-4.7c-7.2-4.3-5.9-0.3-11.8,1.9c-5.9,2.1-7,7.5-8.8,6.7c-1.9-0.8-2.3-4.9-4.9-3.1c-2.6,1.8-8.4,6.6-13,12.9
			c-4.6,6.3-1.9,3.3-0.5-1.2c1.4-4.5-2,0-5.6,1.3c-1.1,0.4-2.1,0.7-3.1,1c-0.8-3.1,0.1-4.5,1.4-8.8c1.4-4.8-2,0-5.6,1.4
			c-1.8,0.7-3.3,1.2-4.8,1.6c0.6-2,0.2-2.9-0.6-3.1c-1.4-0.2-7.6,2.2-11,3.7c-3.4,1.5-7,3.1-9.6,5.7c-1.9,1.9-5.5,6.1-7.9,9
			c-0.4-0.6-1.1-1.1-1.8-2.6c-1.3-3.1-2-0.6-6.6-1.5c-4.3-0.8-3.9-0.2-5.7,1.4c-0.2-0.3-0.3-0.6-0.5-1c-1.3-3.3-2-0.7-6.6-1.6
			c-4.6-0.9-3.8-0.1-6.1,1.8c-2.3,1.9-2.1,3.7-4.4,7c-2.3,3.3-0.9,2.6-1.9,8.3c-1,5.7-2.1,3.9-4.3,6.8c-2.4,2.7-8.2,2.4-6.6,6.5
			c-0.4,0.7,0,1.2,0.8,1.5c0.3,0.5,0.7,1,1.2,1.6c3.9,4.9,6,8.7,7.5,11.9c0.1,0.7,0.3,1.2,0.7,1.7c0.4,1.1,0.8,2.1,1.1,3.2
			c1.5,4.5,11.5,19.5,17.8,24.5c2.6,2.1,6.7,6.2,10.8,10.5c0.2,0.3,0.5,0.6,0.8,0.9c5.4,5.7,10.7,11.6,12.6,13.9c0,0,0,0,0,0
			c0.1,0.4,0.3,0.7,0.6,1.1c1.8,1.9,4.5,6.5,7.3,0c2.7-6.5,6.4-13,7-18.2c0.3-2.4,1.1-5.2,1.7-7.4c1-1.1,2-2.1,2.8-2.9
			c0.8-0.8,1.7-1.5,2.5-2.1c-1.2,7.1-5.5,15.2-8.3,23c-3.2,9.2-3.8,11.9-6,15.9c0,0-0.4,1,3.4,5.2c3.8,4.2,3.6,2.6,6.1,4.2
			c2.5,1.6,3.9,1.8,7,4.2c3,2.4,2.4,3.8,4.2,7.4c1.8,3.6,4.6,3.8,4.6,3.8l5.8,4l3,3.2c0.4,3.3,2.2,13.8,20.2,20.1c0,0,0,0,0,0
			c0.2,0.1,0.3,0.2,0.3,0.1c16.3,5.7,15.4,6.7,22.1,8.5c0.6,0.2,1.2,0.4,1.7,0.4c0.6,0.2,1.2,0.4,1.8,0.7c-0.4,1.7,0.3,3.1,1.8,3.1
			c2.4,0,3.4,8.5,7.6,8.2c2.9,3.8,7,7.8,14,10.4c17,6.4,36.8,13.8,41.6,15.6c4.9,1.9,33.3,8,42.3,9.1c0,0,0,0,0.1,0c0,0,0,0,0,0
			c8.9,1,11.8,2.9,14.6,3.7c2.8,0.8,35.9,4.5,61.1,2.4c8.6-0.7,19.1-1.8,29.9-3.3c0.1,0,0.3,0,0.4-0.1c11-1.6,81.2-24.1,81.2-24.1
			s23.4-9.1,23.8-9.4c5.4-1.7,20-8.2,31.3-15c0.4-0.1,0.7-0.2,1.1-0.5c2.8-1.5,21.7-6.9,25.7-12.2c5.2-7,14.8-9.6,15.2-13.4
			c0.4-3.7,8-9.3,12.8-10.4c4.8-1.1,7.6,1.5,11.6-3.7c4-5.2,9.2,4.1,4-5.2C665.4,524.1,668.2,528.2,662.9,519.7z M142.2,433.4
			c-0.8,0.7-1.4,1.2-1.9,1.6c0.2-0.8,0.3-1.7,0.5-2.6c0.1-0.6,0.2-1.1,0.3-1.6c0.8-0.9,1.7-1.7,2.9-2.5c1.1-0.8,1.9-1.6,2.7-2.5
			C145.9,428.2,144.6,431.1,142.2,433.4z M162.5,415.4c-0.3,0.4-0.7,0.8-1,1.1C161.6,415.7,162,415.4,162.5,415.4z M152.6,441.8
			c-0.1,0.4-0.2,0.7-0.3,1C152.1,442.2,152.3,441.9,152.6,441.8z M153.7,474.7c-0.3,0.3-0.6,0.5-0.8,0.6c-0.2-0.2-0.4-0.5-0.6-0.7
			c0.4-0.7,1.4-1.8,2.5-2.9C154.5,472.7,154.1,473.7,153.7,474.7z M163.1,449.9c-0.7-0.7-1.5-1.3-2.1-2c-0.7-0.8-1.1-1.4-1.3-1.9
			c0.9,0.3,1.7,0.4,2.2-0.1c0.1-0.1,0.1-0.2,0.2-0.2c0.6,0.4,1.2,0.9,1.9,1.3C163.7,448,163.4,449,163.1,449.9z M170,427
			c-0.4-0.7-0.7-1.7-1-2.9c0-0.1,0-0.1,0-0.1c0.8,0.6,1.3,0.2,1.3-2.3c0-0.4,0-0.8,0.1-1.2c0.3,0.2,0.7,0.4,1.1,0.7
			C171.1,423.4,170.6,425.4,170,427z M258.8,485.1c-0.7,0.1-1.3,0.2-2,0.4c-0.2,0.1-0.5,0.2-0.7,0.3c0.2-0.9,0.2-1.6,0.2-2.2
			c1.5-1.1,1.9-1.8,2.5-3C258.9,482.1,258.9,483.6,258.8,485.1z M336.7,490.8c0,0,0.8,5.1,1.2,9.7c-0.1,0.4-0.2,0.7-0.4,1.1
			c-1.1,3.2-1.3,5.1-0.6,6.5c-0.8,0.6-1.8-0.1-2.4-2.3c-0.2-0.9-0.4-1.4-0.5-1.6c-0.2-1-0.4-2.2-0.6-3.6c0.3-1.3,0.6-3.6,1.3-7.2
			C336.2,486.8,336.7,490.8,336.7,490.8z M326.8,486.8c1.3-4.5,3.2-8.8,5.1-12.8c0.8-1.7,1.5-1.7,2.1-1.1c-0.5,1.7-0.9,3.3-1.2,4.7
			c-1.2,5.2-4.3,6.7-6.8,11.6C326.2,488.5,326.5,487.8,326.8,486.8z M333.3,505.4c-0.4,0.9-1.1,2-2.5,3c-0.6,0.5-1.2,0.7-1.6,0.9
			c-0.1-0.3-0.2-0.5-0.3-0.8c-0.6-2.6-1.5-1-1.8-0.3c-0.4-0.8-0.9-2-1.7-3c-0.1-0.2-0.3-0.3-0.4-0.4c0.1-0.7,0.4-1.5,1-2.1
			c1.9-1.8,2.7-2.5,3.7-1.9c0.5,1.4,0.7,1.3,1.1,1.1C331.5,502.9,332.5,504.4,333.3,505.4z M325.2,490.5c-0.8,1.9-1.5,3.5-1.9,5
			c0-0.4,0-0.8,0-1.2c0.2-2.4,1.3-2.9,2.4-4.8C325.5,489.8,325.4,490.2,325.2,490.5z M318.5,499.6c0.5-4,1.3-7.7,1.3-9.6
			c0-1.9,1.3-8,1.3-12.2c0-3.2,2.1-6.2,3-7.4c0.1,2.7,0.2,6.4,0.2,8.1c0,2.7-1.6,7.4-3.2,12.5c-1.6,5.1-1.3,7.2,1.1,9.1
			c0.2,0.1,0.3,0.2,0.5,0.3c0.1,1,0.3,2,0.7,3.1c-1.4-0.7-2.7-0.6-4.1-0.2c-2.1,0.5,0,0-0.3,2.4c-0.2,1.8-1.5,2.6-2.2,1.9
			C316.8,503.1,318.1,502.8,318.5,499.6z M304.9,465.4c0-1.4,0.3-2.7,0.8-3.9c0.1-0.1,0.2-0.2,0.2-0.3c0,0,2.8,0.5,2.8,2
			c0,1.4-1.5,4-4.4,9.7C304.5,470.4,304.9,467.7,304.9,465.4z M293,482.5c0.7-1,1.8-2.3,3.3-3.9c6.4-6.6,1.9,1.3,2.4,4.2
			c0,0.2,0.1,0.4,0.1,0.6c-0.9,1.7-2.1,3.7-3.8,6.6c-3.8,6.4-2.6,6.5-1.3,6.5c-0.6,1.2-0.9,2.4-1,3.5c-1.1-1.8-2.5,3-2,6.1
			c0.1,0.6,0.1,1.4,0,2.3c-1.9,1-4.7,1-4.9,0.4c-0.3-0.8,1.6-2.4,3.6-5.3c2-2.9-0.7-5.3,0-9.4c0.1-0.7,0.1-1.3,0.1-1.9
			c0.9-3.2,1.9-7,2.8-8.4C292.5,483.5,292.7,483,293,482.5z M275.3,489.5c-0.7,1.2-1.2,4.2-0.9,6.4c0.5,3.7-1.6,12.3-4,16.7
			c-2.4,4.4-0.8,10.8,2.9,12.4c0.4,0.2,0.7,0.3,1,0.3c0.1,1.4,0.1,2.8,0.2,4.1c-1.3-0.8-2.5-1.6-3.3-2.2c-2.7-2.1-5.1,1.3-6,3.1
			c-0.9,1.9-4.2,8.2-3.1,14.7c0.8,4.8-0.4,1-1-2c0.3-6,1.7-13.6,1.4-17.6c0.8-2.7,2.9-6.4,4.1-7.9c1.5-1.9,2-9.9,3.1-12.8
			c1.1-2.9-0.8-7-1.1-10.2c-0.3-3.2,2.1-6.7,3.2-8.8c1.1-2.1,2.9-11.5,4.3-13.9c1.3-2.4,4-10.7,4.5-12.2c0.5-1.5,8.6-11.3,9-12.1
			c0,0,2.8,0.5,2.8,2.1s-1.6,4.5-4.8,11.2c-2.4,5-3,6.7-5.5,11.6c-2.3,2.2-6.3,6.1-6.6,8C275.3,481.5,275.3,485.1,275.3,489.5z
			 M303.6,545.3c-0.3,1.7-3.2,10.6-3.5,15.8c-0.3,5.2-0.8-1.7-1.3-3c-0.5-1.2-2.7-3.5-2.9-4.6c-0.1-0.3-0.1-0.7-0.2-1.2
			c0-0.7,0-1.4,0-2.1c0.1-1.1,0.4-2.2,1-3c1.3-2,0.5-6.9,0.5-6.9s-0.2-0.1-0.6-0.3c0.5-5.9-1.9-1.4-3.4-1.9
			c-0.2-0.1-0.4-0.1-0.7-0.2c-1.8-1-3.8-2.1-4.9-2.9c-2.7-1.9-5.1,1.2-6,2.9c-0.2,0.3-0.5,0.9-0.8,1.5c0.6-2.5,0.1-6.3,0.1-6.3
			s-0.6-0.3-1.6-0.9c1-2.3,2.6-5,3.6-6.1c0.5-0.6,0.9-1.7,1.2-3.2c0,0.2,0,0.3,0,0.3s0.5,0.7,1.6,2.6c0,3,1.4,5.9,3.8,7
			c0.6,1,0.5,0.5,0.3,0.1c2.3,0.9,3.1,0,4.3-1.2c2-0.7,4-1.5,4-1.5s0.1-0.4,0.4-1c2.3-0.3,2.1,1.9,2.1,1.9s1.1,1.4,4,6.6
			c0.2,0.4,0.4,0.7,0.5,0.9c0.3,1.7,0.7,3.8,1.1,5.5C304.7,544.3,303.7,544.5,303.6,545.3z M304.2,514.9c-0.1,0.4-0.1,0.9-0.2,1.3
			c-0.1,0.7-0.2,1.4-0.2,2c-0.9,0-1.5-0.1-1.6-0.4C302,517.4,302.9,516.4,304.2,514.9z M305.7,505.3c0-0.3,0-0.7,0.1-1
			c0.7-3.7-2-5.2-2-5.2s-1.2,2.1-2.8,6.1c-0.1-1.1-0.2-2.2-0.3-3.4c-0.2-2-0.3-3.4-0.2-4.6c0.9-1.1,1.1-1.3,2.8-3.2
			c2.4-2.7,0.8,1,2.9,2.2c1.1,0.7,1.1,0.6,1.7-0.5c1,2.5,0.4,0.7,0.8-1.2c0.7-1,1.9-2.5,3.9-4.3c0.4,0,0.7,0.1,1.1,0.5
			c0.3,0.3,0.8,1,1.4,1.9c-0.1,0.6-0.1,1.1,0,1.5c0.3,1.7-0.4,4.1-1.7,6.8c-0.3-0.7-0.6-1.4-0.8-2.1c-0.8-3.5-1.9,0-1.9,0
			s-2.1,2.4-3.7,4C306.5,503.1,306.1,504.1,305.7,505.3z M313.7,556.9c-1.1-2.9,1.9-6.2,2.7-13.1c0.6-5.3-1.9-0.2-3.7,4.7
			c1-7.8-1.6-2.9-3.2-3.4c-0.4-0.1-0.9-0.2-1.4-0.4c0.2-0.5,0.4-0.9,0.6-1.2c0.4-0.8,0.6-1.6,2-4.4c1.9-0.6,3.6-1.2,3.6-1.2
			s0.5-1.2,1.1-2.8c0.2,1.2,0.4,2.4,1,2.5c1.6,0.3,1.1-2.1,3.2-7.2c0.1-0.2,0.2-0.5,0.3-0.7c-0.1,2,0,2.9,0,5.3
			c0,2.3,0.3,4.5,0.7,6.7c-1.3,4.1-3.2,11.2-4.1,13.6C314.7,560.1,314.8,559.8,313.7,556.9z M323,610.5c0-0.1,0.1-0.3,0.2-0.5
			l1.1,0.9C323.8,610.7,323.4,610.6,323,610.5z M328,557.2c-0.2,0.4-0.3,0.9-0.4,1.2c-0.1,0.4-0.2,0.7-0.3,1.1c0-0.3,0-0.5,0-0.8
			c0.3-5.1-1.9-9.2-1.9-9.2s-1.5,5.8-2.6,10.3c-0.2-0.9-0.4-1.6-0.4-2.2c0-2.2-2.6-4.9-2.6-4.9s-0.6,3.7-0.1,7.9
			c0.2,1.8,0,5-0.5,8.6c-1.4,2.2-3,4.2-3,3.4c0-1.6,0-3.5,4-25.1c0.2-1.2,0.4-2.3,0.6-3.3c0.1,0.5,0.2,0.9,0.2,1.4
			c0.5,3.2,1.9,8.4,1.9,8.4s1.3-3,1.9-4c0.5-1,0.8-2,4-7.7s2.1,2,3.7,2.2c0,0,0,0,0,0c-1.2,1.9-2.6,4.7-3.5,7.7
			C328.7,553.9,328.3,555.5,328,557.2z M336.7,554c0-0.1,0-0.2,0.1-0.3c4-20-2.1,2.7-3.9,7.2c-1.5,3.7-1.7,4.2-2.3,2.6
			c1.8-6.2,4.7-14.9,5.1-19.2c0.2-2.3-0.4-2.6-1.4-1.6c0.3-1.1,0.7-2.7,1.7-4.7c0.7-1.4,1.3-2.5,2-3.3c3.5-0.1,2.3,5.7,2.8,8.9
			C341.1,546.4,338.5,550.9,336.7,554z M343.7,569c-0.1,2.4,0,4.2,0,4.7c0-0.7-0.3-5.2,0-9.5c0-0.7,0-1.5,0-2.2
			c0.1-0.1,0.1-0.3,0.2-0.4c0.2-0.5,0.7-1.1,1.2-1.9c-0.8,2.7-1.1,5.7-1.3,8.1C343.6,568.1,343.6,568.5,343.7,569z M345.3,583.9
			c0,0-0.7-5.2,0.1-9.9c0.5,1.2,1,2.4,1.6,3.6C346,581.2,345.3,583.9,345.3,583.9z M347.1,517.6c-2.2,1.5-3,0.9-3.6-0.3
			c-0.3-5.4-0.6-12.1-0.2-15.4c0.2-1.6,0.7-4.9,1.5-8.7c1.1-2.6,2.3-5.1,3.5-7.5c1.9-3.7,3.2,1.2,3.2,1.2s-2.7,10.4-5.1,15.7
			c-2.4,5.3-1.6,4.1-0.5,7.3c1.1,3.2,1.1,0.7,2.7,1.5c1.5,0.7,1.4-1.2,2.5-6.6c-0.5,4.1-0.6,7.6-0.2,9.2c0.1,0.5,0.3,1.1,0.3,1.8
			c-0.1-0.2-0.2-0.4-0.2-0.7C349.8,511.5,350.9,515.2,347.1,517.6z M351.9,587.3c0.1,0.1,0.1,0.2,0.1,0.3
			C351.9,587.8,351.8,587.7,351.9,587.3z M354.5,550.4c-2.1,4-3.5,6.6-4.6,8.5c1-3.2,1.8-6.2,2-8.1c0.2-2.2-0.4-2.4-1.5-1.4
			c-0.1-1.4-0.6-3.6-1.3-6.1c1-0.3,2.2-0.6,3.6-1.1c0.5-0.1,0.8-0.2,1.2-0.3c0.7,1.9,1.5,4,2.3,6C355.8,548.2,355.2,549,354.5,550.4
			z M401.6,504.2c-0.7,3.4-2.1,8.6-2.9,13.7c-0.1-14.8,0-29.1,0.4-30.4c0.2-0.6,0.3-1.7,0.4-3.1c1-0.9,2-1.4,2.6-3.1
			c0.1,0.4,0.1,0.7,0.2,1.1c1,6,1.3,10.7,1.3,14.8C402.9,499.7,402,502.2,401.6,504.2z M418.7,522c-0.1,1.5-0.3,3.4-0.4,5.7
			c-0.9-4-1.4-8.1-0.3-10.8c1-2.4,1.5-8.1,1.8-14.6C420.4,510.1,419.3,515.3,418.7,522z M505.5,476.8c-2-4.1-3.5-7.1-3.9-10.9
			c0,0,0,0,0,0c1.7,3,4.2,6.4,4.2,7.3C505.7,473.7,505.7,475.2,505.5,476.8z M523.5,491.6c-1.9-3.7-3.5-6.3-4.5-8.9
			c0.9,1.3,1.8,2.8,2.6,4.3c0.9,1.8,2,4.2,2.9,6.3C524.2,492.8,523.8,492.3,523.5,491.6z M543.4,531.8c-0.1-0.4-0.1-0.7-0.1-0.7
			s-0.4-1.2-1.5,1.2c-0.1,0-0.2,0.1-0.3,0.1c-0.1-0.4-0.2-0.7-0.3-1c-1.3-2.5-4.5,2-4.3-6.2c0.3-8.2,1.3-5.9,1.6-10.1
			c0.3-4.2,2.1-1-0.3-5.4c-2.4-4.5-0.3-3.2-5.1-8.2c-2-2-3.4-3.1-4.7-4c-1-2.1-2-4-2.8-6.5c-1.6-4.5-7.8-16.3-6.4-17.4
			c0.7-0.6,2.3-1.6,3.8-1.5c2.5,5.2,2.8,6.9,4.3,9.5c1.9,3.5,5.6,8.9,5.6,8.9s0.1,0.1,0.2,0.2c0.2,0.5,0.4,1,0.6,1.5
			c4.1,10.5,7.6,21.8,9.2,26.2c-0.1,0.6-0.2,1.1-0.4,1.7c-1.6,5.7,1.3,9.8,1.3,9.8s0.6,0.6,1.3,1.2
			C544.5,531.4,544,531.6,543.4,531.8z M552.4,518.6c0.9-0.5,1.9-1.3,2.9-2.4c1.2,3.2,2.2,6.1,3,8.3
			C552.9,522,549.5,520.1,552.4,518.6z M571.3,531c-0.1,0-0.1,0-0.2,0c-3.2-1.5-4.6-2.8-2.4-3.9c1.3-0.6,2.6-1.7,3.8-3.2
			c1.7,1.8,3.5,3.4,3.5,3.4S572.7,528.2,571.3,531z M571.9,499.1c2.4,2,4.6,3.9,4,6.6c-0.3-0.4-0.7-0.8-1.2-1.3
			C571,500.4,571.3,504,571.9,499.1z M585.5,521.9c-1.9,3.3-3.5,5.5-4,6.8c-0.4,1-1,2.7-1.4,4.3c-1-0.3-2-0.6-3-0.8
			c0.7-1.3,1.1-2.4,1.1-2.7c0-0.8,2.7-4,2.1-7.6c-0.5-3.6-1.3-7.9-2.1-10.1c-0.8-2.1-0.5-6.4-1.6-12.8c-1.1-6.4,0.8-8.6-2.4-18.7
			c-3.2-10.2-3.7-16.6-4.5-18.4c-0.5-1.1-2.2-4.7-4.1-8.3c0.1-2.1,0.4-2.7,1.5,0.5c2.4,7,5.6,15.2,7.6,19.7c2,4.5,0,4.1,2.8,12.6
			c1,3.1,1.8,6,2.5,8.6c-0.2,2.3-0.2,4.6-0.1,5.7c0.3,2.1,1.9,7.8,2.9,9.1c1.1,1.3,2.7,2.7,2.7,5.3
			C585.5,517.8,587.4,518.6,585.5,521.9z M592.2,515.2c-0.1,0.3-0.2,0.5-0.3,0.8c-0.6,1.2-1.3,2.5-2.1,3.7c0.2-2.2,0.1-5-1-9
			c-0.1-0.5-0.3-1-0.4-1.5C590.8,511,592.8,512.7,592.2,515.2z M598.1,527.9c-0.3,1-0.8,2-1.3,3c0-0.3,0-0.5-0.1-0.8
			c-0.5-3.4-1.3-7.3-2.1-9.3c-0.8-2-0.5-5.9-1.6-11.9c-1.1-5.9,0.8-7.9-2.4-17.3c-0.7-2-1.2-3.8-1.7-5.5c1.3-2.6,2.2-3.4,2.8-1.9
			c0.8,2.4,0.2,5.2,3.7,18c0.3,1.2,0.6,2.4,0.9,3.6c-0.1,1.9-0.2,3.7,0,4.6c0.2,1.5,1.2,5,2.2,7.1
			C598.9,522.2,598.7,525.8,598.1,527.9z M614.4,535.6c-0.7,2.2-2.2,4.4-3.2,6.4c-1.2-0.9-4.7-12.9-5-16.9c0-0.2,0.1-0.4,0.1-0.7
			c1.1-5.3,1.9-16.6,1.9-16.6s-1.6-6.8-2.5-11.7c1-1.7,1.8-2.2,2.3-0.9c0.8,2.2,0.2,4.8,3.7,16.7c0.4,1.2,0.7,2.4,1,3.6
			c-1.1,2.2-2,5.3-0.7,8.4c1.1,2.8,2.1,6.3,2.9,9.3C614.8,534.1,614.6,535,614.4,535.6z M619.8,550.5c0,1.2-3.5-1.5-2.9-3.5
			c0.1-0.3,0.1-0.6,0.2-0.8c1,0.3,2,0.7,3,1.1C619.8,548.8,619.8,549.9,619.8,550.5z M622.5,533.4c0.1-0.3,0.1-0.6,0.2-1
			c0.7-3.3,1.3-9.1,1.6-12.6c0.3,0.7,0.6,1.4,0.8,2.1c1.3,4.6,4.3,13.2,4.3,13.2l-0.8,3.2c0,0-2.4,4.8-4.5-0.8
			C623.5,536.2,623,534.8,622.5,533.4z M629.1,549.5c-0.6,0-2.3-1.1-3.5-2.5c0.1-0.2,0.1-0.4,0.1-0.6c0.2-2.4-1.2-2.9-1.5-3.2
			c0,0,0-0.1,0-0.2c0.1-0.1,0.6-0.3,1.9-0.6c2.1-0.6,3.9-1.2,5.1-1.8c0.7,2.5,1.2,4.5,1.3,5C632.9,546.5,629.9,549.5,629.1,549.5z
			 M644.9,545.3c0,0-2.4,4.5-4.5-0.7c-1.1-2.7-2.4-6-3.5-8.8c0.5-0.2,1.1-0.4,1.7-0.6c1.7-0.4,3.1-0.4,4.4-0.3
			c1.3,3.7,2.7,7.5,2.7,7.5L644.9,545.3z"/>
	</g>
</g>
</svg>
</div>
</div>
</div>
</div>





<div class="center-div-seal-ale-2">

  <div data-content="There are some who say that the past is a glowing lotus.
  Those people are probably drunk on Gentle Nectar, where a single sip
  lets you step, however briefly, into your sweetest memories. Nostalgia is a
  poison. But then again, so is all alcohol. Drink it to forget. Drink
  it to remember." class="hyperseacovering">



<div class="gentlenectarshield">
  <div class="gentlenectar-title">
    GENTLE NECTAR
  </div>
  <div class="petalorange">
  </div>
   <div class="petalyellowright">
  </div>
     <div class="petalpinkright">
  </div>
<div class="leftpetalsrotate">
   <div class="petalyellowright">
  </div>
     <div class="petalpinkright">
  </div>
  </div>
</div>
</div>
