<% provide(:title, "Chapter 13: Tad Excessive Takes The Cake") %>
<% @user= current_user %>
<h1 class="gold2">Chapter 13</h1>
<h1 class="gold2">Tad Excessive Takes The Cake</h1>
<div class="top-spacer-chapter-intro"></div>
<main class="page-content">
    <article class="post">
<!--
      <h1>Article Layout with Varying Content Width Using CSS Grid</h1>
-->
      <p>
<span class="royal-blue_intro">D</span>aniel was distraught. Hypersea’s sales were dropping every week. Even if the people liked it, he wouldn’t have been able to keep pace. That goddamned boar had destroyed an entire wagon train of the stuff. Crushed barrels between his teeth. Slept in the bed of a ruined wagon. The latest batch had the top of its labels cut off, so that its motto, “DO NOT FEAR ITS DEPTHS,” instead simply read, “FEAR ITS DEPTHS.” At this rate, if Daniel hadn’t seen another continent when he crashed, he would have to wait another hundred years for these people to drum up the courage to sail to it.
      </p>
      <p>
      Just then, Daniel’s firstborn, Tad Excessive, stuck his head into Daniel’s study.
</p>
<p>
      “Pop, you won’t believe this!” said Tad.
</p>
<p>
      “Shut the fuck up, Tad!” screamed Daniel.
</p>
<p>
      Tad quickly shut the door, blinking back bright tears.
</p>
<p>
      Daniel poured himself another tumbler of the Infinite Rye, his last from the last barrel of the first batch. He could almost feel it chipping away at his telomeres.
</p>
<p>
      It had been weeks since Salt Peter had checked in. His hands itched to reach over to his Rolodex and go into debt for a backup assassin.
</p>
</article>
</div>
</main>
</body>
<div class="wrapper">
  <h1 class="square-royal-blue">
    <a2 class="before after gold2">
    <%= link_to "Chapter 14", tiger_farm_path(current_user) %>
    </a2>
  </h1>
</div>
</html>
