<% provide(:title, "Chapter 16: Finally, A Taste Of Betrayal") %>
<% @user= current_user %>
<h1 class="gold2">Chapter 16</h1>
<h1 class="gold2">A Taste Of Betrayal</h1>
<div class="top-spacer-chapter-intro"></div>
<main class="page-content">
    <article class="post">
<!--
      <h1>Article Layout with Varying Content Width Using CSS Grid</h1>
-->
<p>
<span class="red_intro">D</span>aniel Kraken had Merlot Bot smashed to bits in his mansion in the middle of the night. His jagged corpse clinked in his silk sheets as it was carried downstairs, staining the stairs an appropriately human red. His vineyards burned until dawn, every trellis was reduced to stamped ash by Daniel’s secret police.
</p>
<p>
For all Daniel knew, Merlot Bot had lead the Butterfly Boar to Kraken HQ when he had mapped out the route of acorn feeders. If he could let a White Wine Automaton survive for centuries, if he could risk their entire operation out of some sniveling sentimentality, then he had to be excised from the enterprise.
</p>
<p>
At least Champagne Bot was dead. That guy was arrogant as all get out. But now Fawn, her smug little page, AND Comet had escaped assassination and could undermine his entire empire if they blabbed about either his alien provenance or his role in introducing both the highs and lows of progress to an island that, before his arrival, could have been characterized as an idyllic, loving paradise without need or want.
</p>
<p class="has-side-note">
  At least Champagne Bot was dead. That guy was arrogant as all get out. But now Fawn, her smug little page, AND Comet had escaped assassination and could undermine his entire empire if they blabbed about either his alien provenance or his role in introducing both the highs and lows of progress to an island that, before his arrival, could have been characterized as an idyllic, loving paradise without need or want.
</p>
<p class="side-note" style="border-left: 5px solid #FF4500">"Spare the rod, spoil the universe."--Daniel Kraken</p>
<p>
They had no idea what it’s like. To be thought of as a slimy, scrub race of ugly squid. To scrape your way to the top of your academy’s class, to chafe under the myopic yoke of nasty, backbiting bureaucrats who refused to grant him captaincy. And then to finally be granted that captaincy, but to be tasked with shipping wine (which is putrid, mewling compromise between crisp beer and delicious liquor) to every backwater planet in this arm of the galaxy.
</p>
<p>
“I am an emperor,” sniffed Daniel, giving the globe in his study a desultory spin. “And this is only one world of many that I will control utterly. And right now it’s refusing to cooperate. At this rate, they'll never know true progress. They'll never get to run their hands over the dewy hood of a black Ford 250 Super Duty in the morning before going to work.”
</p>
<p>
Yes, the Butterfly Boar was scary. It was a beast that was so far unstoppable. It was trampling his vertically integrated dreams to to powder. Daniel almost wished he were back in the simpler, wilder times when it was just he and Merlot Bot, taming the island over centuries. In their first month on land they had made tremendous progress in scouring the island of its giants. He had quenched each metal part of their matching flintlocks in red wine from good old MB himself. They had hunted together, feasting on the powder keg sized thighs of the greasy, iridescently green feathered pheasant with razor sharp bills and three foot long claws. They had tricked the last Night Pharaoh into his tomb, slowly closing him in an obsidian shell that clicked like a powder compact over the twinkling purple salt that Daniel had promised would grant him immortality. They had held dry kernels of the first crop of corn in their fists, and watched the deer come out of the jungle to nibble and sometimes, to Daniel’s surprise, to speak.

</p>
<p>
<p>
<p>
After centuries together Daniel did try to reach out to Merlot Bot. He talked about how when they finally made it to circuitry, maybe he could restore some rudimentary personality traits to the idle automatons. He had let Merlot Bot grow grapes! Had even made champagne for a couple years!
</p>
<p>
All for naught.
</p>
<p>
“Oh well,” thought Daniel. “Just a sign I’m growing soft.” It was time to put his money where his mouth would have been had it not been a cleverly molded prosthesis designed to hide his scalloped, reaching beak. He went over to his desk and pulled out a drawer with a false bottom. He slid the false bottom’s cover forward to reveal this world’s first telegraph key, his little cricket.
</p>
<p>
For its size it was incredibly heavy. He had sanded and shellacked the base himself from a slab of ironwood. John Carver had crafted the knob from the ivory of Leviathan Prime, the very first whale towed in by a galleon of gibbering asylum probationers. Its scrollwork showed a simple moon partially obscured by a thunderstorm. The metal parts were brass, of course. A brass nameplate shone across the side of the base. It said, “The Lightning Guild.”
</p>
<p>
The Bolts loved talking through the telegraph. They thought it was hilarious how a little being like Daniel, whose flesh was flammable, whose thoughts were a mushy combination of chemical and current, had to use this enormously complicated machine to tame a minuscule sliver of their essence in order to beg for them to interfere in his ragged, tawdry, mortal affairs. Daniel began to tap out his request to immolate.
</p>
<p>
“Of course, Daniel!” said the first bolt who answered. Discussion of payment would take at least a thousand generations for the lightning guild. It took thirty seconds for Daniel. They wanted solid gold pylons strung from end to end  across the island, starting from the top of Mount Oligarch, where they could reach it the most easily. They wanted gold skulls molded onto the top, their mouths open to the rain, and snowflakes, and night sky.
</p>
<p>
“Agreed,” said Daniel, bankrupting himself for the next century. He was speaking, of course, to a vastly different guild master than the one he had initially contacted. A breath for Daniel. An eon of lightning time.
</p>
<p>
“We’re sending a bolt to assist you momentarily,” advised the embattled president of a lightning society already clamoring to renegotiate with Daniel. Silver was now all the rage. “However, we do have some concerns.”
</p>
<p>
“What?” asked Daniel, his eyes widening in surprise.
</p>
<p>
“Well,” replied the matriarch of the shock commune, “we usually don’t like to strike targets that are this close to the client.”
</p>
<p>
“Oh no,” said Daniel, running over to throw open his windows and lean out across the balustrade.
</p>
<p class="has-side-note">
  The butterfly boar was tearing across an open field, straight towards Kraken HQ,
  with Comet standing astride his bristly back, holding the chrysalis’s chains in her hands like reins,
  her unribboned hair blowing in the freely in the wind from the gathering storm. Fawn and her page were kneeling down,
  each one gripping one of Comet’s legs. Fawn was licking down the fuzz on the heads of the island’s last two tiger cubs, who mewled in bindle in the crook of her arms. The boar’s chrysalis flopped
  along the ground behind them, spent of whatever fresh apocalypse had been growing inside of it. Small Almighty's ozone B.O. caused the nanohairs in Daniel's
  false nostrils to stand on end as the teenaged bolt streaked out of the dark sky behind him.
  Daniel looked out over the world he had created, and for the first time in his life, he wept during the day.
</p>
<p class="side-note" style="border-left: 5px solid #FF4500">"For the best viewing experience, please view the world map in full screen mode."--Daniel Kraken</p>
</article>
</div>
</main>
</body>
<div class="wrapper">
  <h1 class="square-red">
    <a2 class="before after gold2">
    <%= link_to "World Map", world_map_path(current_user) %>
    </a2>
  </h1>
</div>
</html>
