<% provide(:title, "Chapter 11: The Ascent Up Mount Oligarch") %>
<% @user= current_user %>
<h1 class="gold2">Chapter 11</h1>
<h1 class="gold2">The Ascent Up Mount Oligarch</h1>
<div class="top-spacer-chapter-intro"></div>
<main class="page-content">
    <article class="post">
<!--
      <h1>Article Layout with Varying Content Width Using CSS Grid</h1>
-->
      <p>
<span class="red_intro">L</span>et’s talk about Mount Oligarch.
Mount Oligarch is the sole mountain peak on the mainland. Weapons are drawn to it magnetically. Not with actual magnetism, but with an invisible attractive force like magnetism. The weapons don’t actually need to be magnetic. Most of them are though, coincidentally, given the fact that most of them are metal and hard and stuff.
      </p>
      <p>
      Mount Oligarch drags every weapon it can find across the ground and towards its top. The deadlier the weapon, the higher it’s drawn to the top of Mount Oligarch. Tools and hunting implements are allowed until they’ve drawn human blood. Surgery had been impossible until Daniel Kraken had introduced Infinite Rye, which, when coating surgical implements, could sterilize and allow the tool to hover in and out of time during the procedure, out of the watchful eye of the mountain.
      Traders on the ingot exchange need to disassemble their weapons after every trading day, or they’ll wake up to find a cannon being pulled through a shed wall and towards the mountain, scrapping inexorably over snow laced crevasses until it reached a pile of ancient artillery at mid level.
      Once, after a days in the throughs of fever, a delirious patient awoke to find himself being dragged through the pebbles in the Zen garden outside of the infirmary. He looked down to see his swollen legs, green, hot to the touch, and contracting in-time, and involuntarily, to the chirps of cicadas. He was dragged almost to the top of Mount Oligarch, where he lay pinned to a slab of obsidian as he froze to death, the cold tamping down the fever and granting him an unexpectedly lucid last hour.
    </p>
      <p>
      A silver cup was also dragged up across his coughing body and under his chin, where it caught slick chunks of lung froth from the patient as he expired. Now dead, his body dropped to the ground and froze rock solid, while the silver cup continued on towards the top of the mountain. Daniel had been relieved—he had seen entire crops of customers wiped out by plagues before.
      This is why Comet never used her weapons against people, she couldn’t bear to see her sword clatter to the ground and be pinned there against the mountain. But whatever pacifistic magnetism radiated from the base of Mount Oligarch, it only accounted for harm done to thinking beings.
      If a poisonous snake sank its fangs into something sentient, it would be compelled to wriggle up the mountain, where it generations of furred, blubbery snakes, like spaghetti seals, would huddle around them to keep them warm until they could interbreed before they froze to death, secure in their genetic legacy. Thus, the lower tier of Mount Oligarch was thick with vicious snakes, so much so that you could Sacrifice could see Comet’s breath from miles away, like a steam engine, as she spent hours decapitating a path for the group.
</p>
<p>
      For Comet, their climb, even considering her prodigious physicality, was exhausting. Almost to the point of being hallucinatory. Despite being a highly trained warrior in almost every fighting style invented since one dude decided he didn’t like another dude, she was rubbish with directions and pathfinding. She had brought out the map in front of PeeGee just so that she could parrot back whatever the robot said back to Fawn. And she was afraid of heights, and found herself relying totally on Fawn for for reassurance as their snow thickened and the air thinned.
</p>
<p>
      Sometimes, when it got real vertical, Fawn would just be whispering reassurances in Comet’s ear as she climbed, still in full armor, up the sheer cliff sides, snow collecting on her pauldrons. Other times Fawn served as their guide—they rested while she picked her way along the rocks, her fine hooves managed to find purchase in the unrelenting flint of the island’s only mountain. More than one time Comet caught Fawn nibbling at the rare flora that managed to grow at this altitude. She smiled for her first and only time during the climb at Fawn licking free a sprig of honeysuckle from the pure blue ice that had entombed it. Patient, gentle, as if she were the honeysuckle’s mother and this particular flower had its school picture today, and its hair was a mess and she was licking it smooth on this misbegotten shard of shale on an otherwise pristinely sterile stretch of hillside because she’d be damned if she got called one of the bad honeysuckle mothers who let their children roll out of bed looking any which way.
</p>
<p>
      And when she got to the flower she only took a petal, and left the rest of the pale golden bloom to gather an unseasonable amount of sunlight in the deeply cold brood of the mountain. And afterwards, Fawn would look up at them serenely and wave them on.
</p>
<p>
      PeeGee started fires in his hands, briefly stuck them in the snow, then massaged Comet’s feet before she drifted off to sleep. It should have been really weird, but it was only moderately weird, often intensely pleasurable, and incredibly relaxing. Fawn curled up on her stomach and tallied up their remaining supplies, keeping their rations on track.
</p>
<p>
      “Do you remember earlier today, when you shook the snow from a bunch of bright blue flowers, and ate half of them, and hallucinated a way across that causeway of ice?” asked Comet one night as the party laid together in their tent..
</p>
<p>
      “Wayfinder flowers,” nodded Fawn, curled up at PeeGee’s side. “Delicious.”
</p>
<p>
      “The air’s getting way harder for me to breath up here,” said Comet. It was the first time she had ever expressed physical weakness, and it greatly disturbed the party. Any admission of weakness from Comet was like seeing a normal mortal suffer a compound fracture when walking over to spin the wheel on The Price Is Right.
</p>
<p>
      “We have one more day,” said Fawn, tears pooling in her large dark eyes, wondering why she had brought Comet to the only environment where she couldn’t thrive. Comet’s death was still inconceivable.
</p>
<p>
      Comet coughed through the night, in between shallow breaths, and merely “hrrmed” groggily when prodded in the morning. Fawn and <%= @user.characterfirstname %> strapped her to PeeGee’s back and sent the robot back down the path. Fawn and <%= @user.characterfirstname %> would summit this morning alone, and catch up with them later in the day.
</p>
<p>
      A halo of snow, shot through with fine light, pulsed around that last crag, swirled fierce by the wind and sun. Fawn stepped through the snow and to the top, closing her eyes against the sharp flakes, her fore hooves clinking against a bottle of Gentle Nectar.
</p>
</article>
</div>
</main>
</body>
<div class="wrapper">
  <h1 class="square-red">
    <a2 class="before after gold2">
    <%= link_to "Chapter 12", an_exquisite_vintage_path(current_user) %>
    </a2>
  </h1>
</div>
</html>
