<% provide(:title, "Chapter 15: Fine I’ll Talk About Tiger Farm") %>
<% @user= current_user %>
<h1 class="gold2">Chapter 15</h1>
<h1 class="gold2">Fine I’ll Talk About Tiger Farm</h1>
<div class="top-spacer-chapter-intro"></div>
<main class="page-content">
    <article class="post">
<!--
      <h1>Article Layout with Varying Content Width Using CSS Grid</h1>
-->
      <p>
<span class="green_intro">O</span>K so there are fights, and then there is the fight that took place between Comet Heartbreak and Salt Peter. I mean, wow.
      </p>
</article>
</div>
</main>
</body>
<div class="wrapper">
  <h1 class="square-green">
    <a2 class="before after gold2">
    <%= link_to "Chapter 16", bolide_rodeo_path(current_user) %>
    </a2>
  </h1>
</div>
</html>
